<header>
  <h1>The Fixer</h1>
  [Update content & tables for mobile portrait?]
  <nav role="navigation">
    In this section
    <ul>
      <li><a href="#conocimientos" title="Los conocimientos que tengo">Conocimientos</a></li>
     <li><a href="#programas" title="Los programas que manejo">Programas</a></li>
     <li><a href="#lenguajes" title="Los lenguajes con los que programo">Lenguajes</a></li>
     <li><a href="#frameworks" title="Los frameworks en que me apoyo">Frameworks</a></li>
     <li><a href="#cms" title="Los gestores de contenidos que utilizo">CMS</a></li>
    </ul>
  </nav>    
</header>

<section id="conocimientos" class="subseccion">
  <h3 class="sp sprite">Conocimientos</h3>
  <table class="sprite">
  <thead>
 <tr>
    <th scope="col">Nombre</th>
    <th scope="col">Tiempo</th>
    <th scope="col">Uso</th>
    <th scope="col">Porcentaje</th>
    <th class="hide">&nbsp;</th>
   </tr>
</thead>

  <tbody>
 <tr class="A">
    <td class="titulo">Dise&ntilde;o Editorial</td>
    <td class="tiempo">9 a&ntilde;os</td>
    <td class="frecuencia">Muy Frecuente</td>
    <td class="porc p100"><span>100%</span></td>
    <td class="decorative">&nbsp;<span class="degradado">&nbsp;</span><span class="pergamino">&nbsp;</span></td>
   </tr>

   <tr class="B">
    <td class="titulo">Consultor&iacute;a Web</td>
    <td class="tiempo">8 a&ntilde;os</td>
    <td class="frecuencia">Frecuente</td>
    <td class="porc p85"><span>85%</span></td>
    <td class="decorative">&nbsp;<span class="degradado">&nbsp;</span><span class="pergamino">&nbsp;</span></td>
   </tr>
   
   <tr class="C">
    <td class="titulo">Arquitectura de Informaci&oacute;n</td>
    <td class="tiempo">6 a&ntilde;os</td>
    <td class="frecuencia">Frecuente</td>
    <td class="porc p90"><span>90%</span></td>
    <td class="decorative">&nbsp;<span class="degradado">&nbsp;</span><span class="pergamino">&nbsp;</span></td>
   </tr>

   <tr class="D">
    <td class="titulo">Arquitectura Visual</td>
    <td class="tiempo">8 a&ntilde;os</td>
    <td class="frecuencia">Muy Frecuente</td>
    <td class="porc p100"><span>100%</span></td>
    <td class="decorative">&nbsp;<span class="degradado">&nbsp;</span><span class="pergamino">&nbsp;</span></td>
   </tr>

<tr class="E">
    <td class="titulo">Arquitectura de Soluciones</td>
    <td class="tiempo">6 a&ntilde;os</td>
    <td class="frecuencia">Muy Frecuente</td>
    <td class="porc p85"><span>85%</span></td>
    <td class="decorative">&nbsp;<span class="degradado">&nbsp;</span><span class="pergamino">&nbsp;</span></td>
   </tr>
  
   <tr class="F">
    <td class="titulo">Est&aacute;ndares Web</td>
    <td class="tiempo">7 a&ntilde;os</td>
    <td class="frecuencia">Muy Frecuente</td>
    <td class="porc p100"><span>100%</span></td>
    <td class="decorative">&nbsp;<span class="degradado">&nbsp;</span><span class="pergamino">&nbsp;</span></td>
   </tr>

 <tr class="G">
    <td class="titulo">Accesibilidad Web</td>
    <td class="tiempo">5 a&ntilde;os</td>
    <td class="frecuencia">Muy Frecuente</td>
    <td class="porc p90"><span>90%</span></td>
    <td class="decorative">&nbsp;<span class="degradado">&nbsp;</span><span class="pergamino">&nbsp;</span></td>
   </tr>

   <tr class="H">
    <td class="titulo">Usabilidad</td>
    <td class="tiempo">5 a&ntilde;os</td>
    <td class="frecuencia">Frecuente</td>
    <td class="porc p85"><span>85%</span></td>
    <td class="decorative">&nbsp;<span class="degradado">&nbsp;</span><span class="pergamino">&nbsp;</span></td>
   </tr>

   <tr class="I">
    <td class="titulo"><abbr title="User Experience - Experiencia de Usuario">UX</abbr></td>
    <td class="tiempo">4 a&ntilde;os</td>
    <td class="frecuencia">Muy Frecuente</td>
    <td class="porc p80"><span>80%</span></td>
    <td class="decorative">&nbsp;<span class="degradado">&nbsp;</span><span class="pergamino">&nbsp;</span></td>
   </tr>

   <tr class="J">
    <td class="titulo"><em title="En espa&ntilde;ol: Diseño Web Responsivo">Responsive Web Design</em></td>
    <td class="tiempo">3 a&ntilde;os</td>
    <td class="frecuencia">Muy Frecuente</td>
    <td class="porc p90"><span>90%</span></td>
    <td class="decorative">&nbsp;<span class="degradado">&nbsp;</span><span class="pergamino">&nbsp;</span></td>
   </tr>

   <tr class="K">
    <td class="titulo"><em title="En espa&ntilde;ol: Primero los dispositivos m&oacute;viles">Mobile First</em></td>
    <td class="tiempo">2 a&ntilde;os</td>
    <td class="frecuencia">Frecuente</td>
    <td class="porc p90"><span>90%</span></td>
    <td class="decorative">&nbsp;<span class="degradado">&nbsp;</span><span class="pergamino">&nbsp;</span></td>
   </tr>

   <tr class="L">
    <td class="titulo">Optimizaci&oacute;n de rendimiento <em>Web</em></td>
    <td class="tiempo">2 a&ntilde;os</td>
    <td class="frecuencia">Muy Frecuente</td>
    <td class="porc p90"><span>90%</span></td>
    <td class="decorative">&nbsp;<span class="degradado">&nbsp;</span><span class="pergamino">&nbsp;</span></td>
   </tr>

   <tr class="M">
    <td class="titulo"><em title="En espa&ntilde;ol: Microformatos">Microformats</em></td>
    <td class="tiempo">1.5 a&ntilde;o</td>
    <td class="frecuencia">Frecuente</td>
    <td class="porc p90"><span>90%</span></td>
    <td class="decorative">&nbsp;<span class="degradado">&nbsp;</span><span class="pergamino">&nbsp;</span></td>
   </tr>

   <tr class="N">
    <td class="titulo"><abbr title="Search Engine Optimization">SEO</abbr></td>
    <td class="tiempo">3.2 a&ntilde;os</td>
    <td class="frecuencia">Frecuente</td>
    <td class="porc p80"><span>80%</span></td>
    <td class="decorative">&nbsp;<span class="degradado">&nbsp;</span><span class="pergamino">&nbsp;</span></td>
   </tr>

   <tr class="O">
    <td class="titulo">Social Media</td>
    <td class="tiempo">3 a&ntilde;os</td>
    <td class="frecuencia">Poco Frecuente</td>
    <td class="porc p50"><span>50%</span></td>
    <td class="decorative">&nbsp;<span class="degradado">&nbsp;</span><span class="pergamino">&nbsp;</span></td>
   </tr>

   <tr class="P">
    <td class="titulo"><em title="Protocolo para compartir contenidos en redes sociales">Open Graph Protocol</em></td>
    <td class="tiempo">1.3 a&ntilde;os</td>
    <td class="frecuencia">Frecuente</td>
    <td class="porc p70"><span>70%</span></td>
    <td class="decorative">&nbsp;<span class="degradado">&nbsp;</span><span class="pergamino">&nbsp;</span></td>
   </tr>
</tbody>
  </table>
  
  <p class="menu sprite">
  <a href="#vinculos-seccion" target="_self" class="sp" title="Regresar al menú de la secci&oacute;n"><span class="hide">Regresar al </span>men&uacute;<span class="hide"> de la secci&oacute;n</span></a>
  </p>
 
 </section>

 <section id="programas" class="subseccion">
  <h3 class="sp sprite">Programas</h3>
  <table class="sprite">
  <thead>
   <tr>
    <th scope="col">Nombre</th>
    <th scope="col">Versi&oacute;n</th>
    <th scope="col">Tipo</th>
    <th scope="col">Tiempo</th>
    <th scope="col">Uso</th>
    <th scope="col">Dominio</th>
    <th scope="col">Porcentaje</th>
    <th class="hide">&nbsp;</th>
   </tr>
   </thead>
   
   <tbody>
    <tr class="photoshop">
    <td class="nombre">Photoshop</td>
    <td class="version">CS6</td>
    <td>Pixelar</td>
    <td>9 a&ntilde;os</td>
    <td>Muy Frecuente</td>
    <td>Avanzado</td>
    <td>90%</td>
    <td class="decorative">&nbsp;</td>
    </tr>
    <tr class="illustrator">
    <td class="nombre">Illustrator</td>
    <td class="version">CS6</td>
    <td>Vectorial</td>
    <td>8 a&ntilde;os</td>
    <td>Frecuente</td>
    <td>Avanzado</td>
    <td>90%</td>
    <td class="decorative">&nbsp;</td>
    </tr>
    <tr class="dreamweaver">
    <td class="nombre">Dreamweaver</td>
    <td class="version">CS6</td>
    <td>Maquetaci&oacute;n Web</td>
    <td>8 a&ntilde;os</td>
    <td>Muy Frecuente</td>
    <td>Avanzado</td>
    <td>90%</td>
    <td class="decorative">&nbsp;</td>
    </tr>
    <tr class="flash">
    <td class="nombre">Flash Pofesional</td>
    <td class="version">CS6</td>
    <td>Animaci&oacute;n</td>
    <td>8 a&ntilde;os</td>
    <td>Frecuente</td>
    <td>Avanzado</td>
    <td>90%</td>
    <td class="decorative">&nbsp;</td>
    </tr>
    <tr class="indesign">
    <td class="nombre">InDesign</td>
    <td class="version">CS6</td>
    <td>Maquetaci&oacute;n</td>
    <td>8 a&ntilde;os</td>
    <td>Poco Frecuente</td>
    <td>Avanzado</td>
    <td>80%</td>
    <td class="decorative">&nbsp;</td>
    </tr>
    <tr class="fireworks">
    <td class="nombre">Fireworks</td>
    <td class="version">CS6</td>
    <td>Pixelar</td>
    <td>6 a&ntilde;os</td>
    <td>Muy Frecuente</td>
    <td>Intermedio</td>
    <td>80%</td>
    <td class="decorative">&nbsp;</td>
    </tr>
    <tr class="premiere">
    <td class="nombre">Premiere Pro</td>
    <td class="version">CS6</td>
    <td>Editor de Video</td>
    <td>6 a&ntilde;os</td>
    <td>Poco Frecuente</td>
    <td>B&aacute;sico</td>
    <td>30%</td>
    <td class="decorative">&nbsp;</td>
    </tr>
    <tr class="quark">
    <td class="nombre">Quark</td>
    <td class="version">9</td>
    <td>Maquetaci&oacute;n</td>
    <td>8 a&ntilde;os</td>
    <td>Poco Frecuente</td>
    <td>Intermedio</td>
    <td>70%</td>
    <td class="decorative">&nbsp;</td>
    </tr>
    <tr class="freehand">
    <td class="nombre">FreeHand</td>
    <td class="version">MX</td>
    <td>Pixelar</td>
    <td>9 a&ntilde;os</td>
    <td>Muy Frecuente</td>
    <td>Avanzado</td>
    <td>80%</td>
    <td class="decorative">&nbsp;</td>
    </tr>
    <tr class="studiomax">
    <td class="nombre">3D Studio Max</td>
    <td class="version">2012</td>
    <td>Modelado 3D</td>
    <td>4 a&ntilde;os</td>
    <td>Poco Frecuente</td>
    <td>B&aacute;sico</td>
    <td>30%</td>
    <td class="decorative">&nbsp;</td>
    </tr>
    <tr class="office">
    <td class="nombre">Office</td>
    <td class="version">2013</td>
    <td>Suite de Oficina</td>
    <td>13 a&ntilde;os</td>
    <td>Muy Frecuente</td>
    <td>Intermedio</td>
    <td>90%</td>
    <td class="decorative">&nbsp;</td>
    </tr>
    <tr class="visualstudio">
    <td class="nombre">Visual Studio</td>
    <td class="version">2012</td>
    <td>Administrador de aplicaciones</td>
    <td>2.6 a&ntilde;os</td>
    <td>Frecuente</td>
    <td>B&aacute;sico</td>
    <td>60%</td>
    <td class="decorative">&nbsp;</td>
    </tr>
    <tr class="project">
    <td class="nombre">Project</td>
    <td class="version">2013</td>
    <td>Administrador de proyectos</td>
    <td>5 a&ntilde;os</td>
    <td>Frecuente</td>
    <td>Intermedio</td>
    <td>60%</td>
    <td class="decorative">&nbsp;</td>
    </tr>
    <tr class="visio">
    <td class="nombre">Visio</td>
    <td class="version">2013</td>
    <td>Dibujo vectorial</td>
    <td>4 a&ntilde;os</td>
    <td>Frecuente</td>
    <td>B&aacute;sico</td>
    <td>40%</td>
    <td class="decorative">&nbsp;</td>
    </tr>
    <tr class="webmatrix">
    <td class="nombre">WebMatrix</td>
    <td class="version">3</td>
    <td>Desarrollo Web</td>
    <td>3 a&ntilde;os</td>
    <td>Poco Frecuente</td>
    <td>Intermedio</td>
    <td>80%</td>
    <td class="decorative">&nbsp;</td>
    </tr>
    <tr class="expressionstudio">
    <td class="nombre">Expression Studio</td>
    <td class="version">4</td>
    <td>Diseño y desarrollo multimedia</td>
    <td>4 a&ntilde;os</td>
    <td>Poco Frecuente</td>
    <td>B&aacute;sico</td>
    <td>50%</td>
    <td class="decorative">&nbsp;</td>
    </tr>
    <tr class="eclipse">
    <td class="nombre">Eclipse</td>
    <td class="version">4.2 (Juno)</td>
    <td>Entorno de Desarrollo Integrado</td>
    <td>2.5 a&ntilde;os</td>
    <td>Frecuente</td>
    <td>B&aacute;sico</td>
    <td>70%</td>
    <td class="decorative">&nbsp;</td>
    </tr>
    <tr class="netbeans">
    <td class="nombre">NetBeans</td>
    <td class="version">7.3</td>
    <td>Entorno de Desarrollo Integrado</td>
    <td>2.5 a&ntilde;os</td>
    <td>Frecuente</td>
    <td>B&aacute;sico</td>
    <td>60%</td>
    <td class="decorative">&nbsp;</td>
    </tr>
    <tr class="gimp">
    <td class="nombre">GIMP</td>
    <td class="version">2.8</td>
    <td>Pixelar</td>
    <td>1.5 a&ntilde;os</td>
    <td>Frecuente</td>
    <td>Intermedio</td>
    <td>80%</td>
    <td class="decorative">&nbsp;</td>
    </tr>
    <tr class="xcode">
    <td class="nombre">XCode</td>
    <td class="version">4</td>
    <td>Entorno de Desarrollo Integrado</td>
    <td>2.6 a&ntilde;os</td>
    <td>Poco Frecuente</td>
    <td>B&aacute;sico</td>
    <td>50%</td>
    <td class="decorative">&nbsp;</td>
    </tr>
    <tr class="unity">
    <td class="nombre">Unity</td>
    <td class="version">4.1</td>
    <td>Desarrollo de Videojuegos</td>
    <td>1.5 a&ntilde;os</td>
    <td>Poco Frecuente</td>
    <td>B&aacute;sico</td>
    <td>15%</td>
    <td class="decorative">&nbsp;</td>
    </tr>
    <tr class="construct2">
    <td class="nombre">Construct 2</td>
    <td class="version">r123</td>
    <td>Editor de Videojuegos</td>
    <td>1.5 a&ntilde;os</td>
    <td>Poco Frecuente</td>
    <td>B&aacute;sico</td>
    <td>45%</td>
    <td class="decorative">&nbsp;</td>
    </tr>
  </tbody> 

  </table>
  
  <p class="menu sprite">
  <a href="#vinculos-seccion" target="_self" class="sp" title="Regresar al menú de la secci&oacute;n"><span class="hide">Regresar al </span>men&uacute;<span class="hide"> de la secci&oacute;n</span></a>
  </p>

 </section>

 <section id="lenguajes" class="subseccion">
  <div class="container">
  <h3 class="sp sprite">Lenguajes</h3>
  <table class="sprite">
<thead>
   <tr>
    <th scope="col">Nombre</th>
    <th scope="col">Versi&oacute;n</th>
    <th scope="col">Tipo</th>
    <th scope="col">Tiempo</th>
    <th scope="col">Frecuencia</th>
    <th scope="col">Nivel</th>
   </tr>
 </thead>
 
 <tbody>
   <tr>
    <td>HTML</td>
    <td>4</td>
    <td>Marcado Web</td>
    <td>8 a&ntilde;os</td>
    <td>Poco Frecuente</td>
    <td>Avanzado</td>
   </tr>
   <tr>
    <td><abbr title="Cascade Style Sheets - Hojas de Estilo en Cascada">CSS</abbr></td>
    <td>2.1</td>
    <td>Presentaci&oacute;n Web</td>
    <td>8 a&ntilde;os</td>
    <td>Frecuente</td>
    <td>Avanzado</td>
   </tr>
   <tr>
    <td>XHTML</td>
    <td>1.0</td>
    <td>Marcado Web</td>
    <td>7 a&ntilde;os</td>
    <td>Frecuente</td>
    <td>Avanzado</td>
   </tr>
   <tr>
    <td>Javascript</td>
    <td>1.8</td>
    <td>Programaci&oacute;n Interpretado</td>
    <td>7 a&ntilde;os</td>
    <td>Muy Frecuente</td>
    <td>Intermedio</td>
   </tr>
   <tr>
    <td>XML</td>
    <td>1.0</td>
    <td>Marcado Web</td>
    <td>6 a&ntilde;os</td>
    <td>Poco Frecuente</td>
    <td>Intermedio</td>
   </tr>
   <tr>
    <td><abbr title="Hypertext Pre-processor - Pre procesador de Hipertexto">PHP</abbr></td>
    <td>5.2</td>
    <td><abbr title="Programaci&oacute;n Orientada a Objetos">POO</abbr></td>
    <td>6 a&ntilde;os</td>
    <td>Frecuente</td>
    <td>Intermedio</td>
   </tr>
   <tr>
    <td><abbr title="">MySQL</abbr></td>
    <td>5.6</td>
    <td>Gesti&oacute;n de Bases de Datos</td>
    <td>6 a&ntilde;os</td>
    <td>Poco Frecuente</td>
    <td>B&aacute;sico</td>
   </tr>
   <tr>
    <td>ActionScript</td>
    <td>3.0</td>
    <td>Aplicaciones interactivas</td>
    <td>5 a&ntilde;os</td>
    <td>Frecuente</td>
    <td>Avanzado</td>
   </tr>
   <tr>
    <td>HTML</td>
    <td>5</td>
    <td>Marcado Web</td>
    <td>4 a&ntilde;os</td>
    <td>Muy Frecuente</td>
    <td>Intermedio</td>
   </tr>
   <tr>
    <td><abbr title="Cascade Style Sheets - Hojas de Estilo en Cascada">CSS</abbr></td>
    <td>3</td>
    <td>Presentaci&oacute;n Web</td>
    <td>4 a&ntilde;os</td>
    <td>Muy Frecuente</td>
    <td>Intermedio</td>
   </tr>
 <tr>
    <td>C#</td>
    <td>5.0</td>
    <td><abbr title="Programaci&oacute;n Orientada a Objetos">POO</abbr></td>
    <td>2.6 a&ntilde;os</td>
    <td>Frecuente</td>
    <td>Intermedio</td>
   </tr>
 <tr>
    <td><abbr title="Xtensible Application Markup Language - Lenguaje Extensible de Formato para Aplicaciones">XAML</abbr></td>
    <td>1.0</td>
    <td>Marcado Web</td>
    <td>2.6 a&ntilde;os</td>
    <td>Frecuente</td>
    <td>Intermedio</td>
   </tr>
   <tr>
    <td>Java</td>
    <td>8</td>
    <td><abbr title="Programaci&oacute;n Orientada a Objetos">POO</abbr></td>
    <td>2.5 a&ntilde;os</td>
    <td>Frecuente</td>
    <td>Intermedio</td>
   </tr>
 <tr>
    <td>Objective-C</td>
    <td>5.0</td>
    <td><abbr title="Programaci&oacute;n Orientada a Objetos">POO</abbr></td>
    <td>9 meses</td>
    <td>Poco Frecuente</td>
    <td>B&aacute;sico</td>
   </tr>

 <tr>
    <td><abbr title="Syntactically Awesome StyleSheets - Hojas de estilo sintácticamente sorprendentes">SaSS</abbr></td>
    <td>3.4.4</td>
    <td>Hojas de estilo din&aacute;micas</td>
    <td>3 meses</td>
    <td>Poco Frecuente</td>
    <td>B&aacute;sico</td>
   </tr>
 </tbody>
  </table>
</div>
  <p class="menu sprite">
  <a href="#vinculos-seccion" target="_self" class="sp" title="Regresar al menú de la secci&oacute;n"><span class="hide">Regresar al </span>men&uacute;<span class="hide"> de la secci&oacute;n</span></a>
  </p>
 </section>

 <section id="frameworks" class="subseccion">
  <h3 class="sp sprite">Frameworks</h3>
  <table class="sprite">
<thead class="hide">
   <tr>
    <th scope="col">Nombre</th>
    <th scope="col">Versi&oacute;n</th>
    <th scope="col">Tipo</th>
    <th scope="col">Tiempo</th>
    <th scope="col">Frecuencia</th>
    <th scope="col">Porcentaje</th>
   </tr>
 </thead>
 
 <tbody>
 <tr class="a">
    <td class="titulo">JQuery</td>
    <td class="version">1.9</td>
    <td class="tipo">Javascript</td>
    <td class="tiempo">5 a&ntilde;os</td>
    <td class="frecuencia">Muy Frecuente</td>
    <td class="porcentaje">90%</td>
   </tr>
 <tr class="b">
    <td class="titulo">HTML 5 Boilerplate</td>
    <td class="version">4.0</td>
    <td class="tipo">Sitios y WebApps</td>
    <td class="tiempo">4 a&ntilde;os</td>
    <td class="frecuencia">Frecuente</td>
    <td class="porcentaje">80%</td>
   </tr>
   <tr class="c">
    <td class="titulo">.NET <abbr title="Model View Controller - Modelo Vista Controlador">MVC</abbr></td>
    <td class="version">4.0</td>
    <td class="tipo">Aplicaciones Web</td>
    <td class="tiempo">2.5 a&ntilde;os</td>
    <td class="frecuencia">Frecuente</td>
    <td class="porcentaje">60%</td>
   </tr>
 
 <tr class="d">
    <td class="titulo">Bootstrap</td>
    <td class="version">3.2.0</td>
    <td class="tipo">Responsive y Mobile First</td>
    <td class="tiempo">2 a&ntilde;os</td>
    <td class="frecuencia">Frecuente</td>
    <td class="porcentaje">90%</td>
   </tr>
 <tr class="e">
    <td class="titulo">Cocoa</td>
    <td class="version">10.4</td>
    <td class="tipo">Aplicaciones iOS</td>
    <td class="tiempo">2 a&ntilde;os</td>
    <td class="frecuencia">Poco Frecuente</td>
    <td class="porcentaje">30%</td>
   </tr>
 <tr class="f">
    <td class="titulo"><em>Windows</em> SDK</td>
    <td class="version">8</td>
    <td class="tipo">Apps Windows 8</td>
    <td class="tiempo">2 a&ntilde;os</td>
    <td class="frecuencia">Poco Frecuente</td>
    <td class="porcentaje">60%</td>
   </tr>
 <tr class="g">
    <td class="titulo"><em>Windows Phone</em> SDK</td>
    <td class="version">8.0</td>
    <td class="tipo">Apps Windows Phone</td>
    <td class="tiempo">2 a&ntilde;os</td>
    <td class="frecuencia">Poco Frecuente</td>
    <td class="porcentaje">70%</td>
   </tr>
 <tr class="h">
    <td class="titulo">Android SDK</td>
    <td class="version">5</td>
    <td class="tipo">Apps Android</td>
    <td class="tiempo">2 a&ntilde;os</td>
    <td class="frecuencia">Poco Frecuente</td>
    <td class="porcentaje">50%</td>
   </tr>
 <tr class="i">
    <td class="titulo"><abbr title="intelligent Operating System - Sistema Operativo Inteligente">iOS</abbr> SDK</td>
    <td class="version">8</td>
    <td class="tipo">Apps iOS</td>
    <td class="tiempo">2 a&ntilde;os</td>
    <td class="frecuencia">Poco Frecuente</td>
    <td class="porcentaje">35%</td>
   </tr>
 <tr class="j">
    <td class="titulo">Node</td>
    <td class="version">0.10.33</td>
    <td class="tipo">Javascript en Servidor</td>
    <td class="tiempo">1 a&ntilde;o</td>
    <td class="frecuencia">Poco Frecuente</td>
    <td class="porcentaje">20%</td>
   </tr>
 <tr class="k">
    <td class="titulo">Compass</td>
    <td class="version">1.0.1</td>
    <td class="tipo">CSS en Servidor</td>
    <td class="tiempo">1 a&ntilde;o</td>
    <td class="frecuencia">Poco Frecuente</td>
    <td class="porcentaje">40%</td>
   </tr>
 <tr class="l">
    <td class="titulo">Fundation</td>
    <td class="version">5</td>
    <td class="tipo">Responsive</td>
    <td class="tiempo">1 a&ntilde;o</td>
    <td class="frecuencia">Frecuente</td>
    <td class="porcentaje">60%</td>
   </tr>
 <tr class="m">
    <td class="titulo">Apache Cordova</td>
    <td class="version">2.7</td>
    <td class="tipo">Apps Multidispositivo</td>
    <td class="tiempo">1 a&ntilde;o</td>
    <td class="frecuencia">Frecuente</td>
    <td class="porcentaje">40%</td>
   </tr>
 </tbody>
  </table>
  <span class="decorative">
   <span class="sprite pin a47">A-47</span>
   <span class="sprite pin o1">O-01</span>
   <span class="sprite pin o2">O-02</span>
   <span class="sprite pin o3">O-03</span>
   <span class="sprite pin o4">O-04</span>
   <span class="sprite pin o5">O-05</span>
   <span class="sprite pin o6">O-06</span>
   <span class="sprite pin o7">O-07</span>
   <span class="sprite pin o8">O-08</span>
   <span class="sprite pin o9">O-09</span>
   <span class="sprite pin o10">0-10</span>
   <span class="sprite pin o11">O-11</span>
   <span class="sprite pin o12">O-12</span>
   <span class="sprite pin o13">O-13</span>
  </span>
  
  <p class="menu sprite">
  <a href="#vinculos-seccion" target="_self" class="sp" title="Regresar al menú de la secci&oacute;n"><span class="hide">Regresar al </span>men&uacute;<span class="hide"> de la secci&oacute;n</span></a>
  </p>
 </section>

 <section id="cms" class="subseccion">
  <h3 class="sp sprite">CMS</h3>
  <table class="sprite">
<thead>
   <tr>
    <th scope="col">Nombre</th>
    <th scope="col">Versi&oacute;n</th>
    <th scope="col">Tipo</th>
    <th scope="col">Tiempo</th>
    <th scope="col">Frecuencia</th>
    <th scope="col">Nivel</th>
    <th scope="col">Porcentaje</th>
   </tr>
 </thead>
 
 <tbody>
 <tr class="webbuilder">
    <td class="titulo">WebBuilder</td>
    <td class="version">4</td>
    <td class="tipo"><span class="hide">Plataforma para desarrollo de </span>aplicaciones y portales sem&aacute;nticos</td>
    <td class="tiempo">5 a&ntilde;os</td>
    <td class="uso">Poco Frecuente</td>
    <td class="nivel">Avanzado</td>
    <td class="porcentaje">80%</td>
    <td class="decorative icon">&nbsp;</td>
   </tr>
   <tr class="joomla">
    <td class="titulo">Joomla</td>
    <td class="version">3.0</td>
    <td class="tipo">Gestor de Contenidos Web</td>
    <td class="tiempo">3 a&ntilde;os</td>
    <td class="uso">Frecuente</td>
    <td class="nivel">Intermedio</td>
    <td class="porcentaje">70%</td>
    <td class="decorative icon">&nbsp;</td>
   </tr>
 <tr class="wordpress">
    <td class="titulo">Wordpress</td>
    <td class="version">3.5</td>
    <td class="tipo">Gestor de Contenidos Web</td>
    <td class="tiempo">3 a&ntilde;os</td>
    <td class="uso">Frecuente</td>
    <td class="nivel">Avanzado</td>
    <td class="porcentaje">70%</td>
    <td class="decorative icon">&nbsp;</td>
   </tr>
 <tr class="orchard">
    <td class="titulo">Orchard</td>
    <td class="version">1.8.1</td>
    <td class="tipo">Gestor de Contenidos Web</td>
    <td class="tiempo">2 a&ntilde;os</td>
    <td class="uso">Poco Frecuente</td>
    <td class="nivel">Intermedio</td>
    <td class="porcentaje">70%</td>
    <td class="decorative icon">&nbsp;</td>
   </tr>
 <tr class="magento">
    <td class="titulo">Magento</td>
    <td class="version">1.7</td>
    <td class="tipo">Gestor de <span class="hide">Contenidos Web especializado en </span>comercio electr&oacute;nico</td>
    <td class="tiempo">6 meses</td>
    <td class="uso">Poco Frecuente</td>
    <td class="nivel">Intermedio</td>
    <td class="porcentaje">40%</td>
    <td class="decorative icon">&nbsp;</td>
   </tr>
 <tr class="drupal">
    <td class="titulo">Drupal</td>
    <td class="version">7.3</td>
    <td class="tipo">Gestor <span class="hide">de Contenidos Web </span>multiprop&oacute;sito</td>
    <td class="tiempo">2 a&ntilde;os</td>
    <td class="uso">Poco Frecuente</td>
    <td class="nivel">Intermedio</td>
    <td class="porcentaje">50%</td>
    <td class="decorative icon">&nbsp;</td>
   </tr>
 <tr class="oscommerce">
    <td class="titulo">osCommerce</td>
    <td class="version">3.0.2</td>
    <td class="tipo">Gestor de <span class="hide">Contenidos Web especializado en </span>comercio electr&oacute;nico</td>
    <td class="tiempo">0.3 a&ntilde;os</td>
    <td class="uso">Poco Frecuente</td>
    <td class="nivel">B&aacute;sico</td>
    <td class="porcentaje">40%</td>
    <td class="decorative icon">&nbsp;</td>
   </tr>
 <tr class="opencart">
    <td class="titulo">OpenCart</td>
    <td class="version">1.5.6.4</td>
    <td class="tipo">Gestor de <span class="hide">Contenidos Web especializado en </span>comercio electr&oacute;nico</td>
    <td class="tiempo">0.3 a&ntilde;os</td>
    <td class="uso">Poco Frecuente</td>
    <td class="nivel">B&aacute;sico</td>
    <td class="porcentaje">30%</td>
    <td class="decorative icon">&nbsp;</td>
   </tr>
</tbody>		
  </table>
  
  <p class="menu sprite">
  <a href="#vinculos-seccion" target="_self" class="sp" title="Regresar al menú de la secci&oacute;n"><span class="hide">Regresar al </span>men&uacute;<span class="hide"> de la secci&oacute;n</span></a>
  </p>
 </section>
