<nav id="top-links" role="navigation" class="vz-header-navigation">
  <p>{{ title }}</p>

  <ul>
    <li 
      role="list"
      *ngFor="let anchor of anchors"
      >
      <a 
        [routerLink]='"."' 
        [fragment]="anchor.href"
        [class]="anchor.classes" 
        [title]="anchor.title">
        <span *ngIf="anchor.prefixText" class="prefix-text">{{ anchor.prefixText }} </span> 
        <span class="text" [innerHTML]="anchor.text"></span>
        <span *ngIf="anchor.sufixText" class="sufix-text">{{ anchor.sufixText }} </span> 
      </a>
    </li>
   </ul>
</nav> 