<p class="vz-fragment-link" [class]="classes">
  <span *ngIf="!hideTitle">Navigate to:</span><br *ngIf="!hideTitle" />
  <span
    *ngFor="let anchor of anchors; let idx=index; let isLast = last">
    <a
      *ngIf="idx !== (active-1); else activeLink"
      [routerLink]='"."' 
      [fragment]="anchor.href"
      [class]="anchor.classes" 
      [title]="anchor.title">
      <span *ngIf="anchor.prefixText" class="prefix-text">{{ anchor.prefixText }} </span> 
      <span class="text">{{ anchor.text }}</span>
      <span *ngIf="anchor.sufixText" class="sufix-text">{{ anchor.sufixText }} </span> 
    </a>

    {{ isLast ? '' : anchor.separator}}

    <ng-template #activeLink>
      <strong>
        <span *ngIf="anchor.prefixText" class="prefix-text">{{ anchor.prefixText }} </span> 
      <span class="text"> {{ anchor.text }}</span>
      <span *ngIf="anchor.sufixText" class="sufix-text"> {{ anchor.sufixText }} </span>
      </strong>
    </ng-template>
  </span> 
</p>



