<header>
  <h1>No one knows...</h1>
  <vz-header-navigation [anchors]="anchorsSectionNavigation"/>    
</header>

<section id="profile" class="sprite teaser"> 
  <h2 class="sprite">The Server</h2>
  <p class="sprite">Hello World!<br/>My name is V&iacute;ctor Zamudio and I am your WebApps server.<br>
    <a href="/at-the-beginning/no-one-knows/the-server">See my full profile</a>
  </p>
</section>

<vz-back-to-top />

<section id="laboral-experiences" class="sprite teaser">
  <h2 class="sprite">The Navigator</h2>
  <p class="sprite">I am an old sea wolf who has sailed the 7 seas.<br>
    <a href="/at-the-beginning/no-one-knows/the-navigator">See my adventures</a>
  </p>	
  <span class="decorative sprite">
    <span class="sprite nube1">&nbsp;</span>
    <span class="sprite nube2">&nbsp;</span>
    <span class="sprite ave1">&nbsp;</span>
    <span class="sprite ave2">&nbsp;</span>
    <span class="sprite perlaNegra">&nbsp;</span>
    <span class="sprite sparrow">&nbsp;</span>
  </span>
</section>

<vz-back-to-top />

<section id="skills" class="sprite teaser">
  <h2 class="sprite">The Fixer</h2>
  <p class="sprite">It bugs me that developers do not follow the standards.<br>
    <a href="/at-the-beginning/no-one-knows/the-fixer">See my skills</a></p>
  <span class="decorative sprite">
    <span class="hitmanA sprite">&nbsp;</span>
    <span class="hitmanB sprite"><span class="sprite firegun">&nbsp;</span></span>
  </span>	
</section>

<vz-back-to-top />
