<section
  *ngFor="let adventure of adventures; let idx = index"
  id="adventure-{{ adventure.adventureNumber }}" 
  class="adventure view">

  <h2>Adventure #{{ adventure.adventureNumber }}</h2>

  <p class="period">
   <span><strong>Period</strong></span><br />
   <span>{{ adventure.period }}</span>				
  </p>

  <p class="company">
   <span><strong>Company</strong></span><br />
   <span>{{ adventure.company }}</span>				
  </p>

  <p class="industry">
   <span><strong>Industry</strong></span><br />
   <span>{{ adventure.industry }}</span>
  </p>
      
  <p class="position">
    <span><strong>Position</strong></span><br />
    <span>{{ adventure.position }}</span><br />
  </p>

  <!-- <div class="summary" [innerHTML]="adventure.summary"></div> -->
  <div class="summary">
    <div class="activities">
      <h3>Activities</h3>
      <span *ngFor="let activity of adventure.summary.activities">
        <span>{{ activity.title }}&nbsp;</span>
          (See <a 
            *ngFor="let link of activity.links" 
            [href]="link.href"
            [title]="link.title"
            [innerHTML]="link.text"></a>).&nbsp;
      </span>
    </div>

    <div class="accounts">
      <h3>Accounts</h3>
      <span *ngFor="let account of adventure.summary.accounts">
        <strong [class]="account.title | lowercase">{{ account.title }}: </strong>
          <span *ngIf="!account.links">{{ account.text}}</span>
          <a
            *ngFor="let link of account.links; last as isLast"
            [href]="link.href"
            [title]="link.title"
            innerHTML="{{ link.text }}{{isLast ? '.' : ', '}}">
          </a><br />
      </span>
    </div>
    
  </div>

  <vz-fragment-link 
    classes="sprite nav-adventures controls-mode-view" 
    [anchors]="fragmentLinks" 
    [active]="(idx+1)"
  />

  <span class="decorative">
    <span class="sp sprite sparrow">&nbsp;</span>
    <span class="sp sprite barco perlaNegra">&nbsp;</span>
    <span class="sp sprite islaTortuga">&nbsp;</span>
    <span class="sp sprite luna">&nbsp;</span>
    <span class="sp sprite nubes nube1">&nbsp;</span>
    <span class="sp sprite nubes nube2">&nbsp;</span>
    <span class="sp sprite nubes nube3">&nbsp;</span>
    <span class="sp sprite aves ave1">&nbsp;</span>
    <span class="sp sprite aves ave2">&nbsp;</span>
    <span class="sp sprite aves ave3">&nbsp;</span>
  </span>

  <hr>
</section>
