.activities, .accounts {
  // background-color: #f3f3e6; 
  font-size: 1rem;
}

h2 {
}

.pirate-head {
  display: block;
  content: "";
  width: 68px;
  height: 110px;
  background-image: url('/assets/images/information/the-navigator.png');
  background-position: -17100px -460px;
  border-radius: 50%;
  float: left;
  margin-top: 0.5rem;
}

#adventure-7 {
  margin-top: 5rem;
}

#adventure-6 .pirate-head {
  background-position: -17090px -810px;
}

#adventure-5 .pirate-head {
  background-position: -17450px -800px;
}

#adventure-4 .pirate-head {
  background-position: -1040px -343px;
}

#adventure-3 .pirate-head {
  background-position: -1337px -342px;
}

#adventure-2 .pirate-head {
  background-position: -16px -5px;
}

#adventure-1 .pirate-head {
  background-position: -30px -725px;
}

p {
  display: block;
  margin: 0;
  padding: 0;

  .title, br {
    display: none;
  }

  span {
    display: block;
    // width: 100%;
    margin-left: 5rem;
    color: #1e3a4e;
    color: #727272;
  }

  &.period span {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  &.company span { 
    font-size: 1.75rem;
    color: #6c2626;
    color: #343434;
  }

  &.industry span { 
    font-size: 1.5rem;
  }

  &.role span {
    color: #6c2626;
    color: #2b2b2b;
  }
}
