<header>
  <h1>At the beginning...</h1>
    <nav role="navigation">
      In this section
      <ul>
        <li><a href="#profile" class="teaser1 actual" title="The Server">01 <span class="hide">The Server</span></a></li>
        <li><a href="#laboral-experience" class="teaser2" title="The Navigator">02 <span class="hide">The Navigator</span></a></li>
        <li><a href="#skills" class="teaser3" title="The Fixer">03 <span class="hide">The Fixer</span></a></li>
        <li><a href="#project1" class="teaser4" title="Project 1">04 <span class="hide">Project 1</span></a></li>
        <li><a href="#project2" class="teaser5" title="Project">04 <span class="hide">Project</span></a></li>
        <li><a href="#project3" class="teaser6" title="Project 3">06 <span class="hide">Project 3</span></a></li>
       </ul>
    </nav>    
</header>

<section id="profile">
  <h2>The Server</h2>
  <p>
  <b>Hello World!</b>
  <br />
  My name is Víctor Zamudio and I am your Web Applications Server. 
  I live in Mexico City...
  
  <span class="links">
    <a href="./at-the-beginning/nobody-knows/the-server" title="See full profile" >See full profile</a><span> &bull;</span>
    <a href="./at-the-beginning/nobody-knows/" title="See all info">See all info</a>
  </span>
  </p>

  <p class="section-navigation sprite">
    <strong>01<span class="hide"> The Server</span></strong><span class="hide">&nbsp;&bull;</span>
    <a href="#laboral-experience" class="teaser2" title="The Navigator">02<span class="hide"> The Navigator</span></a><span class="hide">&nbsp;&bull;</span>
    <a href="#skills" class="teaser3" title="The Fixer">03<span class="hide"> The Fixer</span></a><span class="hide">&nbsp;&bull;</span>
    <a href="#project1" class="teaser4" title="Project 1">04<span class="hide"> Project 1</span></a><span class="hide">&nbsp;&bull;</span>
    <a href="#project2" class="teaser5" title="Project 2">05<span class="hide"> Project 2</span></a><span class="hide">&nbsp;&bull;</span>
    <a href="#project3" class="teaser6" title="Project 3">06<span class="hide"> Project 3</span></a> 
   </p>
</section>

<section id="laboral-experience">
    <h2>The Navigator</h2>
    <p>Onseque sin numetus, ut fugit int am, auta
      dolupitas ut fugit int am atem que...
    
      <span class="links">
        <a href="./nobody-knows/the-navigator" title="See all experience" >See all adventures</a><span> &bull;</span>
        <a href="./nobody-knows/" title="See all info">See all info</a>
      </span>
    </p>

    <p class="section-navigation sprite">
      <a href="#profile" class="teaser1" title="The Server">01 <span class="hide">The Server</span></a><span class="hide">&nbsp;&bull;</span>
      <strong>02 <span class="hide">The Navigator</span></strong><span class="hide">&nbsp;&bull;</span>
      <a href="#skills" class="teaser3" title="The Fixer">03 <span class="hide">The Fixer</span></a><span class="hide">&nbsp;&bull;</span>
      <a href="#project1" class="teaser4" title="Project1">04 <span class="hide">Project1</span></a><span class="hide">&nbsp;&bull;</span>
      <a href="#project2" class="teaser5" title="Project2">05 <span class="hide">Project2</span></a><span class="hide">&nbsp;&bull;</span>
      <a href="#project3" class="teaser6" title="Project3">06 <span class="hide">Project3</span></a> 
     </p>
</section>

<section id="skills">
    <h2>The Fixer</h2>
    <p>
      Onseque sin numetus, ut fugit int am, auta
   dolupitas ut fugit int am atem que...

      <span class="links">
        <a href="./nobody-knows/the-fixer" title="See my skills" >See my skills</a><span> &bull;</span>
        <a href="./nobody-knows/" title="See all info">See all info</a>
      </span>
    </p>

    <p class="section-navigation sprite">
      <a href="#profile" class="teaser1" title="The Server">01 <span class="hide">The Server</span></a><span class="hide">&nbsp;&bull;</span>
      <a href="#laboral-experience" class="teaser2" title="The Navigator">02 <span class="hide">The Navigator</span></a><span class="hide">&nbsp;&bull;</span>
      <strong>03 <span class="hide">The Fixer</span></strong><span class="hide">&nbsp;&bull;</span>
      <a href="#project1" class="teaser4" title="Project1">04 <span class="hide">Project1</span></a><span class="hide">&nbsp;&bull;</span>
      <a href="#project2" class="teaser5" title="Project2">05 <span class="hide">Project2</span></a><span class="hide">&nbsp;&bull;</span>
      <a href="#project3" class="teaser6" title="Project3">06 <span class="hide">Project3</span></a> 
     </p>
</section>

<section id="project1">
    <div class="file">
      <h2><span>Project 1</span></h2>
      <figure class="figure">
       <span class="sample">
       <img id="image1" src="assets/img/home/seccion-amarilla.jpg" width="510" height="366" alt="Image 1"/><br />
       </span>
       <figcaption class="figcaption">
       <p><span class="info"><span class="year">Year: </span><em class="year">2014</em><br />
       <span class="project-type">Project type: </span><em class="project-type">Portal Design, Blog, WebApp, App iOS, Android, Smart TV y Windows 8</em><br />
       <span class="technology">Technology: </span><em class="technology">Microformats, C#...</em><br /></span>
       <span class="links">
         <a href="no-one-knows-he-worked-on/project1" title="See project" >See project</a><span> &bull;</span>
         <a href="no-one-knows-he-worked-on/" title="See all projects">See all projects</a><br /></span>
       </p>
       </figcaption>
      </figure>
     </div>

    <p class="section-navigation sprite">
      <a href="#profile" class="teaser1" title="The Server">01 <span class="hide">The Server</span></a><span class="hide">&nbsp;&bull;</span>
      <a href="#laboral-experience" class="teaser2" title="The Navigator">02 <span class="hide">The Navigator</span></a><span class="hide">&nbsp;&bull;</span>
      <a href="#skills" class="teaser3" title="The Fixer">03 <span class="hide">The Fixer</span></a><span class="hide">&nbsp;&bull;</span>
      <strong>04 <span class="hide">Project1</span></strong><span class="hide">&nbsp;&bull;</span>
      <a href="#project2" class="teaser5" title="Project2">05 <span class="hide">Project2</span></a><span class="hide">&nbsp;&bull;</span>
      <a href="#project3" class="teaser6" title="Project3">06 <span class="hide">Project3</span></a> 
     </p>
</section>

<section id="project2">
  <div class="file">
    <h2><span>Project 2</span></h2>
    <figure class="figure">
     <span class="sample">
     <img id="image1" src="assets/img/home/seccion-amarilla.jpg" width="510" height="366" alt="Image 1"/><br />
     </span>
     <figcaption class="figcaption">
     <p><span class="info"><span class="year">Year: </span><em class="year">2014</em><br />
     <span class="project-type">Project type: </span><em class="project-type">Portal Design, Blog, WebApp, App iOS, Android, Smart TV y Windows 8</em><br />
     <span class="technology">Technology: </span><em class="technology">Microformats, C#...</em><br /></span>
     <span class="links">
       <a href="no-one-knows-he-worked-on/project2" title="See project" >See project</a><span> &bull;</span>
       <a href="no-one-knows-he-worked-on/" title="See all projects">See all projects</a><br /></span>
     </p>
     </figcaption>
    </figure>
   </div>

    <p class="section-navigation sprite">
      <a href="#profile" class="teaser1" title="The Server">01 <span class="hide">The Server</span></a><span class="hide">&nbsp;&bull;</span>
      <a href="#laboral-experience" class="teaser2" title="The Navigator">02 <span class="hide">The Navigator</span></a><span class="hide">&nbsp;&bull;</span>
      <a href="#skills" class="teaser3" title="The Fixer">03 <span class="hide">The Fixer</span></a><span class="hide">&nbsp;&bull;</span>
      <a href="#project1" class="teaser4" title="Project1">04 <span class="hide">Project1</span></a><span class="hide">&nbsp;&bull;</span>
      <strong>05 <span class="hide">Project2</span></strong><span class="hide">&nbsp;&bull;</span>
      <a href="#project3" class="teaser6" title="Project3">06 <span class="hide">Project3</span></a> 
     </p>
</section>

<section id="project3">
  <div class="file">
    <h2><span>Project 3</span></h2>
    <figure class="figure">
     <span class="sample">
     <img id="image1" src="assets/img/home/project3.jpg" width="510" height="366" alt="Image 1"/><br />
     </span>
     <figcaption class="figcaption">
     <p><span class="info"><span class="year">Year: </span><em class="year">2014</em><br />
     <span class="project-type">Project type: </span><em class="project-type">Portal Design, Blog, WebApp, App iOS, Android, Smart TV y Windows 8</em><br />
     <span class="technology">Technology: </span><em class="technology">Microformats, C#...</em><br /></span>
     <span class="links">
       <a href="no-one-knows-he-worked-on/project1" title="See project" >See project</a><span> &bull;</span>
       <a href="no-one-knows-he-worked-on/" title="See all projects">See all projects</a><br /></span>
     </p>
     </figcaption>
    </figure>
   </div>

    <p class="section-navigation sprite">
      <a href="#profile" class="teaser1" title="The Server">01 <span class="hide">The Server</span></a><span class="hide">&nbsp;&bull;</span>
      <a href="#laboral-experience" class="teaser2" title="The Navigator">02 <span class="hide">The Navigator</span></a><span class="hide">&nbsp;&bull;</span>
      <a href="#skills" class="teaser3" title="The Fixer">03 <span class="hide">The Fixer</span></a><span class="hide">&nbsp;&bull;</span>
      <a href="#project1" class="teaser4" title="Project1">04 <span class="hide">Project1</span></a><span class="hide">&nbsp;&bull;</span>
      <a href="#project2" class="teaser5" title="Project2">05 <span class="hide">Project2</span></a> 
      <strong>06&nbsp;<span class="hide">Project3</span></strong>
   </p>
</section>
