<header>
  <h1>At the beginning...</h1>
  <vz-header-navigation
    [title]="titleHeaderNavigation"
    [anchors]="anchorsSectionNavigation"/>
</header>

<section id="profile">
  <h2>The Server</h2>
  <p>
  <b>Hello World!</b>
  <br />
  My name is Víctor Zamudio and I am your Web Applications Server. 
  I live in Mexico City...
  
  <span class="links">
    <a href="/at-the-beginning/no-one-knows/the-server" title="See full profile" >See full profile</a><span> &bull;</span>
    <a href="/at-the-beginning/no-one-knows/" title="See all info">See all info</a>
  </span>
  </p>

  <vz-fragment-link classes="sprite" [anchors]="anchorsSectionNavigation" [active]="1"/>
</section>

<section id="laboral-experience">
    <h2>The Navigator</h2>
    <p>Onseque sin numetus, ut fugit int am, auta
      dolupitas ut fugit int am atem que...
    
      <span class="links">
        <a href="/at-the-beginning/no-one-knows/the-navigator" title="See all experience" >See all adventures</a><span> &bull;</span>
        <a href="/at-the-beginning/no-one-knows/" title="See all info">See all info</a>
      </span>
    </p>

    <vz-fragment-link classes="sprite" [anchors]="anchorsSectionNavigation" [active]="2"/>
</section>

<section id="skills">
    <h2>The Fixer</h2>
    <p>
      Onseque sin numetus, ut fugit int am, auta
   dolupitas ut fugit int am atem que...

      <span class="links">
        <a href="/at-the-beginning/no-one-knows/the-fixer" title="See my skills" >See my skills</a><span> &bull;</span>
        <a href="/at-the-beginning/no-one-knows/" title="See all info">See all info</a>
      </span>
    </p>

    <vz-fragment-link classes="sprite" [anchors]="anchorsSectionNavigation" [active]="03"/>
</section>

<section id="project1">
    <div class="file">
      <h2><span>Project 1</span></h2>
      <figure class="figure">
       <span class="sample">
       <img id="image1" src="assets/img/home/seccion-amarilla.jpg" width="510" height="366" alt="Image 1"/><br />
       </span>
       <figcaption class="figcaption">
       <p><span class="info"><span class="year">Year: </span><em class="year">2014</em><br />
       <span class="project-type">Project type: </span><em class="project-type">Portal Design, Blog, WebApp, App iOS, Android, Smart TV y Windows 8</em><br />
       <span class="technology">Technology: </span><em class="technology">Microformats, C#...</em><br /></span>
       <span class="links">
         <a href="no-one-knows-he-worked-on/project1" title="See project" >See project</a><span> &bull;</span>
         <a href="no-one-knows-he-worked-on/" title="See all projects">See all projects</a><br /></span>
       </p>
       </figcaption>
      </figure>
     </div>

     <vz-fragment-link classes="sprite" [anchors]="anchorsSectionNavigation" [active]="04"/>
</section>

<section id="project2">
  <div class="file">
    <h2><span>Project 2</span></h2>
    <figure class="figure">
     <span class="sample">
     <img id="image1" src="assets/img/home/seccion-amarilla.jpg" width="510" height="366" alt="Image 1"/><br />
     </span>
     <figcaption class="figcaption">
     <p><span class="info"><span class="year">Year: </span><em class="year">2014</em><br />
     <span class="project-type">Project type: </span><em class="project-type">Portal Design, Blog, WebApp, App iOS, Android, Smart TV y Windows 8</em><br />
     <span class="technology">Technology: </span><em class="technology">Microformats, C#...</em><br /></span>
     <span class="links">
       <a href="no-one-knows-he-worked-on/project2" title="See project" >See project</a><span> &bull;</span>
       <a href="no-one-knows-he-worked-on/" title="See all projects">See all projects</a><br /></span>
     </p>
     </figcaption>
    </figure>
   </div>

   <vz-fragment-link classes="sprite" [anchors]="anchorsSectionNavigation" [active]="05"/>
</section>

<section id="project3">
  <div class="file">
    <h2><span>Project 3</span></h2>
    <figure class="figure">
     <span class="sample">
     <img id="image1" src="assets/img/home/project3.jpg" width="510" height="366" alt="Image 1"/><br />
     </span>
     <figcaption class="figcaption">
     <p><span class="info"><span class="year">Year: </span><em class="year">2014</em><br />
     <span class="project-type">Project type: </span><em class="project-type">Portal Design, Blog, WebApp, App iOS, Android, Smart TV y Windows 8</em><br />
     <span class="technology">Technology: </span><em class="technology">Microformats, C#...</em><br /></span>
     <span class="links">
       <a href="no-one-knows-he-worked-on/project1" title="See project" >See project</a><span> &bull;</span>
       <a href="no-one-knows-he-worked-on/" title="See all projects">See all projects</a><br /></span>
     </p>
     </figcaption>
    </figure>
   </div>

   <vz-fragment-link classes="sprite" [anchors]="anchorsSectionNavigation" [active]="06"/>
</section>
