.text, .number, select, textarea {
  width: 100%;
  font-size: 1rem;
  padding: .75rem 0;
  text-indent: 1rem;
}

button {
  background-color: rgb(60, 255, 0);
  color: black;
  padding: 0.75rem;
  border: none;
  margin-right: 0.5rem;
}
