.text, .number, select, textarea {
  width: 100%;
  font-size: 1rem;
  padding: .75rem 0;
  text-indent: 1rem;
}

button {
  background-color: rgb(0, 255, 198);
  color: #003529;
  padding: 0.75rem;
  border: none;
  margin-right: 0.5rem;
  &:hover {
    background-color: #003529;
    color: rgb(0, 255, 198);
    cursor: pointer;
  }
}
