<header>
  <h1>Nor where to find him...</h1>
    <nav role="navigation">
      In this section
      <ul>
        <li><a href="#datos-contacto" title="Datos de Contacto"><span>Datos<span class="hide"> de Contacto</span></span></a></li>
        <li><a href="#mensaje" title="Deja un mensaje"><span>Mensaje</span></a></li>
        <li><a href="#redes-sociales" title="S&iacute;gueme en las redes sociales"><span>Redes<span class="hide"> Sociales</span></span></a></li>
       </ul>
    </nav>    
</header>

<section id="datos-contacto" class="subseccion vcard">

  <h3 class="sprite">Datos de Contacto</h3>
  <p class="nombre sprite">
  <img class="photo" src="../assets/img/contacto/agente-zamudio.jpg" width="88" height="112" alt="Víctor Zamudio" /><br>
  <strong class="fn">V&iacute;ctor Zamudio </strong> <br>
  <em class="title">Dise&ntilde;ador y Desarrollador Web</em><br>
  <span class="adr"><span class="locality">Coyoac&aacute;n</span>, <span class="region">Ciudad de M&eacute;xico</span></span>
  </p>
  
  <p class="tel sprite"><strong>Tel&eacute;fono <span class="type">m&oacute;vil</span></strong><br><a href="tel:+5215516464373" title="Búscame en mi móvil">+521 55 16 46 43 73</a></p>
  
  <p class="correo sprite">
  <strong>Correo electr&oacute;nico</strong><br>
  <a href="mailto:hi@victorzamudio.mx" class="email">hi&#64;victorzamudio.mx</a><br>
  </p>
  
  <p class="cards sprite"><strong class="hide">Descarga mis datos de contacto</strong><br> 
  <span class="v_card"><img src="../assets/img/contacto/qr-vcard.png" width="180" height="180" alt="Código de respuesta rápida de mi vCard" /><br>
  <a href="../../docs/victorzamudio.vcd" target="_blank" title="Descarga mi vCard">vCard</a></span><br>
  <span class="me_card"><img src="../assets/img/contacto/qr-mecard.png" width="180" height="180" alt="Código de respuesta rápida de mi meCard" /><br>
  <a href="../../docs/victorzamudio.mcd" target="_blank" title="Descarga mi meCard">meCard</a></span>   
  </p>
  
  <p class="vinculos-seccion">
  <span class="hide">Saltar a: </span>
  <em><span>Datos<span class="hide"> de Contacto</span></span><span class="icon datos"></span></em><span class="hide"> &#124; </span>
  <a href="#mensaje" title="Deja un mensaje"><span class="before"></span><span>Mensaje</span><span class="icon mensaje"></span><span class="after"></span></a><span class="hide"> &#124; </span>
  <a href="#redes-sociales" title="S&iacute;gueme en las redes sociales"><span class="before"></span><span>Redes<span class="hide"> Sociales</span></span><span class="icon redes"></span><span class="after"></span></a>
  </p>
  <span class="decorative">
   <span class="sonda">&nbsp;</span>
   <span class="posicion_nave">&nbsp;</span>
   <span class="screen_top">&nbsp;</span>
   <span class="grid">&nbsp;</span>
   <span class="fecha"><span class="horas">&nbsp;</span><span class="minutos">&nbsp;</span><span class="hora">&nbsp;</span><span class="dia_numero">&nbsp;</span><span class="dia">&nbsp;</span><span class="mes">&nbsp;</span><span class="anio">&nbsp;</span></span>
   <span class="comunicaciones"><span class="onda1">&nbsp;</span><span class="onda2">&nbsp;</span><span class="onda3">&nbsp;</span></span>
   <span class="ambiente"><span class="agua">&nbsp;</span><span class="oxigeno">&nbsp;</span><span class="temperatura">&nbsp;</span><span class="gravedad">&nbsp;</span></span>
   <span class="energy_cells">&nbsp;</span>
   <span class="screen_left">&nbsp;</span>
   <span class="screen_center">&nbsp;</span>
   <span class="screen_bottom">&nbsp;</span>
   <span class="screen_out">&nbsp;</span>
   <span class="tierra"><span class="datos1">&nbsp;</span><span class="datos2">&nbsp;</span></span>
   <span class="luna"><span class="datos1">&nbsp;</span></span>
  </span>
 </section>

 <section id="mensaje" class="subseccion">
  <h3>Mensaje</h3>
  <form name="formMensaje" id="formMensaje" action="#mensaje" method="post">
  <p>
  <label for="nombre">Nombre:</label><br>
  <input type="text" name="nombre" id="nombre" class="texto" value=""/>
  <span class="error"></span>   </p>
  <p>
  <label for="apaterno">Apellido Paterno:</label><br>
  <input type="text" name="apaterno" id="apaterno"  class="texto" value=""/>
  <span class="error"></span>   </p>
  <p>
  <label for="correo">Correo:</label><br>
  <input type="text" name="correo" id="correo" class="texto" value=""/>
  <span class="error"></span>   </p>
  <p>
 <span class="telfijo">
  <label for="telfijo">Tel&eacute;fono Fijo:</label><br>
  <input type="tel" name="telfijo" id="telfijo" class="numero" value=""/><br>
</span>
<span class="ext">
  <label>Ext:</label><br>
  <input type="tel" name="ext" id="ext" class="numero" value=""/>
</span>     </p>
  <p>
  <label for="telmovil">Tel&eacute;fono M&oacute;vil:</label><br>
  <input type="tel" name="telmovil" id="telmovil"  class="numero" value=""/><br>
  </p>
  <p>
  <label for="motivo">Motivo:</label><br>
  <select name="motivo" id="motivo">
  
  <br />
<b>Notice</b>:  Undefined index: motivo in <b>/home/victorza/public_html/al-principio/ni-donde-encontrarlo/index.php</b> on line <b>300</b><br />
<option value='motivo-a'>S&oacute;lo quiero saludar</option><br />
<b>Notice</b>:  Undefined index: motivo in <b>/home/victorza/public_html/al-principio/ni-donde-encontrarlo/index.php</b> on line <b>300</b><br />
<option value='motivo-b'>Cotizaci&oacute;n de proyecto</option><br />
<b>Notice</b>:  Undefined index: motivo in <b>/home/victorza/public_html/al-principio/ni-donde-encontrarlo/index.php</b> on line <b>300</b><br />
<option value='motivo-c'>Consultor&iacute;a Web</option><br />
<b>Notice</b>:  Undefined index: motivo in <b>/home/victorza/public_html/al-principio/ni-donde-encontrarlo/index.php</b> on line <b>300</b><br />
<option value='motivo-d'>Oferta Laboral</option><br />
<b>Notice</b>:  Undefined index: motivo in <b>/home/victorza/public_html/al-principio/ni-donde-encontrarlo/index.php</b> on line <b>300</b><br />
<option value='motivo-e'>Feedback sobre el Sitio</option>   
  <!--
  <option value="motivo-a" >S&oacute;lo quiero saludar</option>
  <option value="motivo-b" >Cotizaci&oacute;n de proyecto</option>
  <option value="motivo-c">Consultor&iacute;a Web</option>
  <option value="motivo-d">Oferta Laboral</option>
  <option value="motivo-e" >Feedback sobre el Sitio</option>
  -->
  </select>
  </p>
  <p class="col1">
  <label for="campoMensaje">Mensaje:</label><br>
  <textarea name="campoMensaje" id="campoMensaje" cols="50" rows="10" maxlength="4000"></textarea>
  <span class="error"></span>   </p>
  <p class="col1">
  <input type="checkbox" name="politicas" id="politicas"  value="1"/>
  <label for="politicas">He le&iacute;do y acepto las <a href="../../contacto/politicas.html" target="_blank">pol&iacute;ticas</a> de privacidad.</label>
  <span class="error"></span>   </p>
  <p class="col1">
  <input type="reset" name="limpiar" id="limpiar" value="Limpiar campos"/>
  <input type="submit" name="enviar" id="enviar" value="Enviar mensaje"/>
  </p>
  </form>
  
  
  <p class="vinculos-seccion">
  <span class="hide">Saltar a: </span>
  <a href="#datos-contacto" title="Ve mis datos de contacto"><span class="before"></span><span>Datos<span class="hide"> de contacto</span></span><span class="icon datos"></span><span class="after"></span></a><span class="hide"> &#124; </span>
  <em><span>Mensaje</span><span class="icon mensaje"></span></em><span class="hide"> &#124; </span>
  <a href="#redes-sociales" title="S&iacute;gueme en las redes sociales"><span class="before"></span><span>Redes<span class="hide"> Sociales</span></span><span class="icon redes"></span><span class="after"></span></a>
  </p>
 <span class="decorative">
   <span class="posicion_nave">&nbsp;</span>
   <span class="screen_top">&nbsp;</span>
   <span class="grid">&nbsp;</span>
   <span class="fecha"><span class="horas">&nbsp;</span><span class="minutos">&nbsp;</span><span class="hora">&nbsp;</span><span class="dia_numero">&nbsp;</span><span class="dia">&nbsp;</span><span class="mes">&nbsp;</span><span class="anio">&nbsp;</span></span>
   <span class="comunicaciones"><span class="onda1">&nbsp;</span><span class="onda2">&nbsp;</span><span class="onda3">&nbsp;</span></span>
   <span class="ambiente"><span class="agua">&nbsp;</span><span class="oxigeno">&nbsp;</span><span class="temperatura">&nbsp;</span><span class="gravedad">&nbsp;</span></span>
   <span class="energy_cells">&nbsp;</span>
   <span class="screen_left">&nbsp;</span>
   <span class="screen_center">&nbsp;</span>
   <span class="screen_bottom">&nbsp;</span>
   <span class="screen_out">&nbsp;</span>
   <span class="jupiter"><span class="datos1">&nbsp;</span></span>
   <span class="space_station"><span class="datos2">&nbsp;</span></span>
 </span>
</section>

<section id="redes-sociales" class="subseccion">
  <h3>Redes Sociales</h3>
 <!--fB-->
 <div id="facebook" class="red-social sprite">
 <h4 class="sprite"><span class="title">Facebook</span><span class="sprite icon facebook">&nbsp;</span><span class="datos1">&nbsp;</span></h4>
 
 <p class="perfil sprite">
  <a href="https://www.facebook.com/VictorZamudioMX" target="_blank" title="Víctor Zamudio en Facebook">&#47;VictorZamudioMX</a><br/>
  <em>Dise&ntilde;ador y Desarrollador Web en Secci&oacute;n Amarilla y Layerz</em>
 </p>
 
 <p class="grupos sprite">
  <strong>Grupos</strong><br />
  <em>Windows 8 Videogames - 748 miembros</em><br />
  <em>News - 25 377 miembros</em>
 </p>
 
 <p class="actividad sprite">
 <strong>Actividad reciente</strong><br>
 <em>13 de Octubre de 2014</em><br>
 <span>V&iacute;ctor Zamudio public&oacute; algo a trav&eacute;s de Vimeo:</span><br>
 <span>Para mis amigos de Windws 8 Videogames, encontr&eacute; una breve historia de dise&ntilde;o de Title Screens, est&aacute; genial!</span><br>
 <a href="https://www.facebook.com/VictorZamudioMX/posts/10204126268548872?pnref=story" target="_blank"><img src="../assets/img/contacto/facebook-screen-titles.png" width="290" height="140" alt="Imagenes de " /></a>
 </p>
 
 <p class="ver sprite"><a href="https://www.facebook.com/VictorZamudioMX" target="_blank" title="Víctor Zamudio en Facebook">Ver en Facebook</a></p>
 
 </div>
 <!--fB-->

 <!--tW-->
 <div id="twitter" class="red-social sprite">
 <h4 class="sprite"><span class="title">Twitter</span><span class="sprite icon twitter">&nbsp;</span><span class="datos2">&nbsp;</span></h4>
 <p class="perfil sprite">
  <a href="https://twitter.com/victorZamudioMX" target="_blank" title="Víctor Zamudio en Twitter">&#64;VictorZamudioMX</a><br/>
  <em>Dise&ntilde;ador y Desarrollador Web</em>
 </p>
 <p class="actividad sprite">
  <strong>Actividad reciente</strong>

  <em>12 de Noviembre de 2014</em><br>
  <span>&#64;Mashable</span>
  <span>So *this* is what it looks like when you're barreling into a comet<br/>
  <a href="http://mashable.com/2014/11/11/rosetta-philae-comet-landing/?cometpic" target="_blank" title="http://on.mash.to/1v4k6e8ic">http://on.mash.to/1v4k6e8</a></span><br>

  <em>12 de Noviembre de 2014</em><br>
  <span>&#64;Techcrunch</span>
  <span>Google's Search App For Android Gets Material Design Update And New Smarts<br/>
  <a href="http://techcrunch.com/2014/11/12/googles-search-app-for-android-gets-material-design-update-and-new-smarts/" target="_blank" title="http://tcrn.ch/1xxSEF3">http://tcrn.ch/1xxSEF3</a></span>
 </p>
 <p class="ver sprite"><a href="https://twitter.com/victorZamudioMX" target="_blank" title="V&iacute;ctor Zamudio en Twitter">Ver en Twitter</a></p>
 </div>
 <!--tW-->
 
 <!--+G-->
 <div id="googlePlus" class="red-social sprite">
 <h4 class="sprite"><span class="title">+Google</span><span class="sprite icon googlePlus">&nbsp;</span><span class="datos2">&nbsp;</span></h4>
 <p class="perfil sprite">
  <a href="https://plus.google.com/+VictorzamudioMxWeb" target="_blank" title="Víctor Zamudio en +Google">+VictorzamudioMxWeb</a><br/>
  <em>Trabaja en Secci&oacute;n Amarilla</em><br>
  <em>Estudi&oacute; en <abbr title="Universidad Autónoma Metropolitana, Unidad Xochimilco">UAM-X</abbr></em>
 </p>
 <p class="actividad sprite">
 <strong>Publicaciones</strong><br>
 <em>11 de Noviembre de 2014</em><br>
 <span>Originally shared: <a href="https://plus.google.com/112943946047332492941" target="_blank" title="WIRED in +Google">WIRED</a></span><br>
 <span>Once completed, Aerial Bold will be the first typeface created from shapes and patterns from the planet's topology.﻿</span><br>
 <a href="https://plus.google.com/112943946047332492941/posts/jExTQFhzNxV" title="the first typeface created from shapes and patterns" target="_blank"><img src="../assets/img/contacto/aerial-font.jpg" width="280" height="140" alt="Imagen de la primer tipografía creada de formas de la topología del planeta" /></a>
 </p>
 <p class="ver sprite"><a href="https://plus.google.com/+VictorzamudioMxWeb" target="_blank" title="V&iacute;ctor Zamudio en +Google">Ver en +Google</a></p>
 </div>
 <!--+G-->
 
 <!--Li-->
 <div id="linkedin" class="red-social sprite">
 <h4 class="sprite"><span class="title">Linkedin</span><span class="sprite icon linkedin">&nbsp;</span><span class="datos1">&nbsp;</span></h4>
 <p class="perfil sprite">
  <a href="http://mx.linkedin.com/in/victorzamudio/" target="_blank" title="Víctor Zamudio en Linkedin">&#47;VictorZamudio</a><br/>
  <em>Dise&ntilde;ador y Desarrollador Web en Secci&oacute;n Amarilla</em>
 </p>
 <p class="trabajos sprite">
 <strong>Trabajos anteriores</strong><br>
 <em>EC Global Network, Infotec, Cacto Arte e Ideas, Red Enlaces</em><br>
 </p>
 <p class="educacion sprite">
 <strong>Educaci&oacute;n</strong><br>
 <em>Universidad Aut&oacute;noma Metopolitana, Unidad Xochimilco</em><br>
 </p>
 <p class="grupos sprite">
  <strong>Grupos</strong><br />
  <em>Top Web Designers - 23,248 miembros</em><br>
  <em>PHP Developers - 99,999 miembros</em>
 </p>
 
 <p class="ver sprite"><a href="http://mx.linkedin.com/in/victorzamudio/" target="_blank" title="Víctor Zamudio en Linkedin">Ver en Linkedin</a></p>
 </div>
 <!--Li-->
 
 <!--Pi-->
 <div id="pinterest" class="red-social sprite">
 <h4 class="sprite"><span class="title">Pinterest</span><span class="sprite icon pinterest">&nbsp;</span><span class="datos1">&nbsp;</span></h4>
 <p class="perfil sprite">
  <a href="https://www.pinterest.com/victorzamudio/" target="_blank" title="Víctor Zamudio en Pinterest">&#47;VictorZamudio</a><br/>
  <em>Web Designer, Dreamer & Maker</em>
 </p>
 <p class="actividad sprite">
 <strong>Tableros</strong><br>
 <em>Artists that inspire</em><br>
 <span>15 pines</span>
 <a href="https://www.pinterest.com/victorzamudio/artists-that-inspire/" title="Tablero Artist that inspire en Pinterest" target="_blank"><img src="../assets/img/contacto/artist-that-inspire.jpg" width="284" height="209" alt="Imagen del tablero de pinterest Artists that inspire" /></a>
 </p> 
 <p class="ver sprite"><a href="https://www.pinterest.com/victorzamudio/" target="_blank" title="Víctor Zamudio en Pinterest">Ver en Pinterest</a></p>   
 
 </div>
 <!--Pi-->
 <p class="vinculos-seccion">
   <span class="hide">Saltar a: </span>
   <a href="#datos-contacto" title="Ve mis datos de contacto"><span class="before"></span><span>Datos<span class="hide"> de contacto</span></span><span class="icon datos"></span><span class="after"></span></a><span class="hide"> &#124; </span>
   <a href="#mensaje" title="Envíame un mensaje"><span class="before"></span><span>Mensaje</span><span class="icon mensaje"></span><span class="after"></span></a><span class="hide"> &#124; </span>
   <em><span>Redes<span class="hide"> Sociales</span></span><span class="icon redes"></span></em>
   </p>
   <span class="decorative">
    <span class="posicion_nave">&nbsp;</span>
    <span class="screen_top">&nbsp;</span>
    <span class="grid">&nbsp;</span>
    <span class="fecha"><span class="horas">&nbsp;</span><span class="minutos">&nbsp;</span><span class="hora">&nbsp;</span><span class="dia_numero">&nbsp;</span><span class="dia">&nbsp;</span><span class="mes">&nbsp;</span><span class="anio">&nbsp;</span></span>
    <span class="comunicaciones"><span class="onda1">&nbsp;</span><span class="onda2">&nbsp;</span><span class="onda3">&nbsp;</span></span>
    <span class="ambiente"><span class="agua">&nbsp;</span><span class="oxigeno">&nbsp;</span><span class="temperatura">&nbsp;</span><span class="gravedad">&nbsp;</span></span>
    <span class="energy_cells">&nbsp;</span>
    <span class="screen_left">&nbsp;</span>
    <span class="screen_center">&nbsp;</span>
    <span class="screen_bottom">&nbsp;</span>
    <span class="screen_out">&nbsp;</span>
    <span class="constelacion">&nbsp;</span>
   </span>
</section>