<header class="main-header">
  <p class="logo">
    <strong><a href="/" title="At the begining...">Victor Zamudio</a></strong>
    <span> | </span>
    <em>UI Developer</em>
  </p>

  <nav role="navigation">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/at-the-beginning">At the beginning</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/at-the-beginning/no-one-knows">No one knows...</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/at-the-beginning/nobody-knows-he-worked-on">Nobody knows he worked on...</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/at-the-beginning/nor-where-to-find-him">Nor where to find him</a>
      </li>
    </ul>
  </nav>
</header>

<main>
  <article role="main" id="content">
    <router-outlet></router-outlet>
  </article>
</main>  

<footer id="footer">Designed & Developed by Victor Zamudio • México City • 2006 - 2023</footer>
