<header class="main-header">
  <p class="logo">
    <strong><a href="/" title="At the begining...">Victor Zamudio</a></strong>
    <span> | </span>
    <em>UI Developer</em>
  </p>

  <nav role="navigation">
    [ menu ]
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="./at-the-beginning">At the beginning</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="./at-the-beginning/nobody-knows">Nobody knows...</a>
      </li>
    </ul>
  </nav>
</header>

<main>
  <article role="main" id="content">
    <router-outlet></router-outlet>
  </article>
</main>  

<footer role="contentinfo">[ footer ]</footer>
