<vz-main-header 
  color="#ffffff"
  secondaryColor="#333333" />

<vz-main-article
  [titleSection]="projectsNavigation.current"
  [anchorsSection]="anchorsSectionNavigation">


   <vz-projects-navigation 
      [projectsNavigation]="projectsNavigation" />

   <vz-project-brief [brief]="brief" />

   <vz-project-gallery
      [galleries]="galleries"
      [galleryTypes]="galleryTypes"
      [projectsNavigation]="projectsNavigation"
   />

   <vz-projects-navigation 
      [projectsNavigation]="projectsNavigation"
      [isBottom]="true"
   />   
</vz-main-article>