#menuToggle {
  display: none;

  &:checked ~ .main-navigation {
    clip-path: circle(75%);
  }

  &:checked ~ .menu-icon {
    &::before {
      transform: rotate(-45deg) translateY(8px);
      animation: 0.75s linear bar1;
    }

    &::after {
      transform: rotate(45deg) translateY(-9px);
      animation: 0.75s linear bar2;
    }
  }
}

.menu-icon {
  width: 1.5rem;
  height: 1rem;
  position: fixed;
  padding: 0.5rem;
  z-index: 2;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &::before, &::after {
    background-color: var(--bgColorMenuIcon);
    position: absolute;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    width: 100%;
    height: 4px;  
  }

  &::before {
    content: "";
    width: 1.5rem;
    top: 0.5rem;
    left: 0.5rem;
  }

  &::after {
    content: "";
    bottom:0.5rem;
    width: 1.5rem;
    left: 0.5rem;
  }
}

.main-navigation {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .5);
  backdrop-filter: blur(5px);
  clip-path: circle(0px at calc(100% - 45px) 45px);
  transition: all 0.5s ease-in-out;

  ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;

    li {
      margin: 1rem 0;

      a {
        color: none;
        text-decoration: none;
        font-size: 3rem;
        font-weight: 500;
        padding: 1rem 3rem;
        color: #000;
        line-height: 4rem;
        transition: all 0.3s ease;

        &:hover{
          color: #fff;
          background: #000000b7;
        }
      }
    }
  }
}

@keyframes bar1 {
  0% {
    transform: rotate(0deg) translateX(0);
  }

  25% {
    transform: rotate(45deg) translateY(-3px);
    height: 0.6rem;
    background-color: grey;
  }

  50% {
    transform: rotate(45deg) translateY(-3px);
    height: 0.6rem;
    background-color: grey;
  }

  100% {
    transform: rotate(-45deg) translateY(8px);
  }
}

@keyframes bar2 {
  0% {
    transform: rotate(0deg) translateY(0);
  }

  25% {
    transform: rotate(-45deg) translateY(3px);
    height: 0.6rem;
  }

  50% {
    transform: rotate(-45deg) translateY(3px);
    height: 0.6rem;
  }

  100% {
    transform: rotate(45deg) translateY(-9px);
  }
}

