#menuToggle {
  display: none;

  &:checked ~ .main-navigation {
    clip-path: circle(75%);

    .arrow {
      display: inline-block;
      width: 60px;
      height: 60px;
      backdrop-filter: blur(1px);
      background-color: rgba(0, 0, 0, 0.5);
      mask-image: url(/assets/svg/logo-vz.svg);
      transform: scale(1) translate(0%, 100%);
      transition: all 1s ease-in-out;
    }

    .a2 {
      transform: scale(20) translate(40%, 50%);
    }
  
    .a3 {
      transform: scale(18) translate(10%, 80%);
      // background-color: rgb(24, 18, 26, .5);
    }
  
    .a4 {
      transform: scale(12) translate(63%, 51%);
      // background-color: rgba(11, 65, 128, 0.5);
    }
  
    .a5 {
      transform: scale(7) translate(-24%, 175%);
      // animation: arrow1 0.5s ease-in-out;

      // background-color: rgba(111, 136, 53, 0.5);
    }
  
    .a6 {
      transform: scale(9) translate(-10%, 93%);
    }
    .a7 {
      transform: scale(20) translate(10%, 0);
    }
    .a8 {
      transform: scale(15) translate(10%, 50%);
    }
    .a9 {
      transform: scale(11) translate(0, 6%);
      // filter: opacity(75%);
    }
    .a10 {
      transform: scale(9) translate(0, 15%);
      // filter: opacity(5%);
    }
  }

  &:checked ~ .menu-icon {
    &::before {
      transform: rotate(-45deg) translateY(8px);
      animation: 0.75s linear bar1;
      background-color: var(--bgColorMenuIcon);
    }

    &::after {
      transform: rotate(45deg) translateY(-9px);
      animation: 0.75s linear bar2;
      background-color: var(--bgColorMenuIcon);
    }
  }
}

@keyframes arrow1 {
  from {
    transform: scale(1) translate(0, 10%);
  }   
  
  to {
    transform: scale(5) translate(50%, 10%);
  }
}

.menu-icon {
  width: 1.5rem;
  height: 1rem;
  position: fixed;
  padding: 0.5rem;
  z-index: 2;
  top: 1.25rem;
  right: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &::before, &::after {
    background-color: var(--bgColorMenuIcon);
    position: absolute;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    width: 100%;
    height: 4px;  
  }

  &::before {
    content: "";
    width: 1.5rem;
    top: 0.5rem;
    left: 0.5rem;
  }

  &::after {
    content: "";
    bottom:0.5rem;
    width: 1.5rem;
    left: 0.5rem;
  }
}

.main-navigation {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  // background-color: rgba(0, 0, 0, 0.5);
  // backdrop-filter: blur(8px);
  clip-path: circle(0px at calc(100% - 45px) 45px);
  transition: all 0.5s ease-in-out;

  ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: left;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: auto;

    li {
      margin: 1rem;
      padding: 1rem;

      ul {
        display: none;
        top: 0;
        left: 0;
        transform: translate(0, 0);
      }

      &:hover ul {
        // display: block;
        background-color: #000000dc;
        backdrop-filter: blur(5px);

        li {
          margin: 0rem;
        }

        a {
          font-size: 1.25rem;
          line-height: 1.5rem;
          padding: 0;

          &:hover {
            color: greenyellow;
          }  
        }
      }

      a {
        background-color: rgba(0, 0, 0, 0);
        text-decoration: none;
        font-family: "PressStart2P";
        font-size: 1.75rem;
        font-weight: 500;
        padding: 1rem 0;
        color: white;
        line-height: 2.5rem;
        transition: all 0.3s ease;

        &:hover{
          background-color: #000000;
        }
      }
    }
  }
}

@keyframes bar1 {
  0% {
    transform: rotate(0deg) translateX(0);
  }

  25% {
    transform: rotate(45deg) translateY(-3px);
    height: 0.6rem;
    background-color: grey;
  }

  50% {
    transform: rotate(45deg) translateY(-3px);
    height: 0.6rem;
    background-color: grey;
  }

  100% {
    transform: rotate(-45deg) translateY(8px);
    background-color: white;
  }
}

@keyframes bar2 {
  0% {
    transform: rotate(0deg) translateY(0);
  }

  25% {
    transform: rotate(-45deg) translateY(3px);
    height: 0.6rem;
  }

  50% {
    transform: rotate(-45deg) translateY(3px);
    height: 0.6rem;
  }

  100% {
    transform: rotate(45deg) translateY(-9px);
  }
}

