<input type="checkbox" id="menuToggle" />
<label for="menuToggle" class="menu-icon" [style]="'--bgColorMenuIcon:' + colorMenuIcon"></label>

<nav role="navigation" class="main-navigation">
  <span class="arrow a1"></span> 
  <span class="arrow a2"></span>  
  <span class="arrow a3"></span>  
  <span class="arrow a4"></span>  
  <span class="arrow a5"></span>  

  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/at-the-beginning">
        <span class="section-description">At the beginning...</span>
        <span class="section-name">[001] Home</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link subnavigation" routerLink="/at-the-beginning/no-one-knows">
        <span class="section-description">No one knows...</span>
        <span class="section-name">[002] Info</span>
        </a>
      <ul>
        <li><a href="/at-the-beginning/no-one-knows/the-server">The Server</a></li>
        <li><a href="/at-the-beginning/no-one-knows/the-navigator">The Navigator</a></li>
        <li><a href="/at-the-beginning/no-one-knows/the-fixer">The Fixer</a></li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link subnavigation" routerLink="/at-the-beginning/nobody-knows-he-worked-on">
        <span class="section-description">Nobody knows he worked on...</span>
        <span class="section-name">[003] Projects</span>
        </a>
      <ul>
        <li><a href="/at-the-beginning/nobody-knows-he-worked-on/saffrolote">Saffrolotte</a></li>
        <li><a href="/at-the-beginning/nobody-knows-he-worked-on/next-gen">NextGen</a></li>
        <li><a href="/at-the-beginning/nobody-knows-he-worked-on/plastiq">Plastiq</a></li>
        <li><a href="/at-the-beginning/nobody-knows-he-worked-on/hbo-max">hbo-max</a></li>
        <li><a href="/at-the-beginning/nobody-knows-he-worked-on/hbo">hbo</a></li>
        <li><a href="/at-the-beginning/nobody-knows-he-worked-on/aeris">aeris</a></li>
        <li><a href="/at-the-beginning/nobody-knows-he-worked-on/citi-banamex">citi-banamex</a></li>
        <li><a href="/at-the-beginning/nobody-knows-he-worked-on/american-airlines">american-airlines</a></li>
        <li><a href="/at-the-beginning/nobody-knows-he-worked-on/saffrolote">Saffrolotte</a></li>
        <li><a href="/at-the-beginning/nobody-knows-he-worked-on/next-gen">NextGen</a></li>
        <li><a href="/at-the-beginning/nobody-knows-he-worked-on/plastiq">Plastiq</a></li>
        <li><a href="/at-the-beginning/nobody-knows-he-worked-on/hbo-max">hbo-max</a></li>
        <li><a href="/at-the-beginning/nobody-knows-he-worked-on/hbo">hbo</a></li>
        <li><a href="/at-the-beginning/nobody-knows-he-worked-on/aeris">aeris</a></li>
        <li><a href="/at-the-beginning/nobody-knows-he-worked-on/citi-banamex">citi-banamex</a></li>
        <li><a href="/at-the-beginning/nobody-knows-he-worked-on/american-airlines">american-airlines</a></li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/at-the-beginning/nor-where-to-find-him">
        <span class="section-description">Nor where to find him.</span>
        <span class="section-name">[004] Contact</span>
        </a>
    </li>
  </ul>
</nav>