<section id="gallery">
  <h2>Gallery</h2>

  <div
    *ngFor="let gallery of galleries; let idxGallery=index"
    id="gallery{{gallery.title}}" class="gallery">
    <h3>{{gallery.title}}</h3>

    <figure 
      *ngFor="let link of gallery.links; let idx=index" 
      id="image-{{gallery.title | lowercase}}-0{{idx+1}}">
      <img
        src="/assets/images/projects/{{projectsNavigation.current.split(' ').join('-') | lowercase}}/image-{{gallery.title | lowercase}}-0{{idx+1}}.jpg"
        alt="Gallery {{gallery.title}} image #{{idx+1}}"><br/>
      <figcaption>
        <div class="links">
          <vz-fragment-link 
            [anchors]="gallery.links"
            [active]="(idx+1)"
            [hideTitle]="true" />
        </div>
      </figcaption>  
    </figure>

    <vz-fragment-link
      [anchors]="galleryTypes"
      [active]="(idxGallery+1)"
      [hideTitle]="true"
    />

    <vz-back-to-top />
  </div>
</section>
