<header>
  <h1>Nobody knows he worked on...</h1>
  <vz-header-navigation [anchors]="anchorsSectionNavigation"/>   
</header>

<vz-project-summary [summaries]="summaries" />

  <!-- Rutas de M&eacute;xico -->
  <section id="rutas-de-mexico" class="entrada estandares-web accesibilidad-web usabilidad arquitectura-informacion xhtml xml css-2 javascript photoshop dreamweaver flash fireworks 2011 infotec web-builder portal turismo secretaria-de-turismo">

  <figure class="figure">
      <img id="imagen15" src="../assets/img/proyectos/rutasdemexico-thumb-a.jpg" width="340" height="340" alt="Imagen 7"/><br />
      <figcaption class="figcaption">
      <h3>Rutas de M&eacute;xico</h3>
      <span class="icon desktop" title="Proyecto para dispositivos Desktop">&nbsp;</span>
      <p><strong class="year">Year: </strong><em class="year">2011</em><br />
      <strong class="industry">Industry: </strong><em class="industry">Turismo</em><br />
      <strong class="technologies">Technologies: </strong><em class="technologies">HTML 4.0 de transici&oacute;n, XML 1.0, CSS 2.1...</em><br /></p>
        <a href="/at-the-beginning/nobody-knows-he-worked-on/rutas-de-mexico" title="" >See project</a>
      </figcaption>
   </figure>   
  </section>	
  <!-- Rutas de M&eacute;xico -->
  
  <!-- El M&aacute;scara -->
  <section id="el-mascara" class="entrada estandares-web accesibilidad-web usabilidad arquitectura-informacion arquitectura-visual arquitectura-soluciones xhtml css-2 javascript yui illustrator photoshop dreamweaver fireworks 2011 infotec web-builder portal e-learning gsc-asociados">

  <figure class="figure">
  <img id="imagen16" src="../assets/img/proyectos/elmascara-thumb-a.jpg" width="340" height="340" alt="El M&aacute;scara"/><br />
  <figcaption class="figcaption">
  <h3>El M&aacute;scara</h3>
  <span class="icon desktop" title="Proyecto para dispositivos Desktop">&nbsp;</span>
  <p><strong class="year">Year: </strong><em class="year">2011</em><br />
  <strong class="industry">Industry: </strong><em class="industry">e-learning</em><br />
  <strong class="technologies">Technologies: </strong><em class="technologies">XHTML 1.0 estricto, CSS 2.1, Ilustraci&oacute;n, Usabilidad, <span lang="en"><abbr title="User Experience - Experiencia de usuario">UX</abbr></span>...</em><br /></p>
    <a href="/at-the-beginning/nobody-knows-he-worked-on/el-mascara" title="" >See project</a>
    </figcaption>
  </figure>
  </section>	
  <!-- El M&aacute;scara -->
  
  <!-- Patricia Mexica -->
  <section id="patricia-mexica" class="entrada estandares-web arquitectura-informacion arquitectura-visual arquitectura-soluciones ux xml actionscript-3 css-2 illustrator photoshop dreamweaver flash fireworks indesign 2011 freelance sitio-web diseno-editorial patricia-mexica">

  <figure class="figure">
      <img id="imagen17" src="../assets/img/proyectos/patriciamexica-thumb-a.jpg" width="340" height="340" alt="Patricia Mexica"/><br />
      <figcaption class="figcaption">
      <h3>Patricia Mexica</h3>
      <span class="icon desktop" title="Proyecto para dispositivos Desktop">&nbsp;</span>
      <p><strong class="year">Year: </strong><em class="year">2011</em><br />
      <strong class="industry">Industry: </strong><em class="industry">Dise&ntilde;o Editorial</em><br />
      <strong class="technologies">Technologies: </strong><em class="technologies">XML 1.0, ActionScript 3.0, POO...</em><br /></p>
        <a href="/at-the-beginning/nobody-knows-he-worked-on/patricia-mexica" title="" >See project</a>
      </figcaption>
    </figure>  
  </section>	
  <!-- Patricia Mexica -->
  
  <!-- PJDF -->
   <section id="pjdf" class="entrada estandares-web accesibilidad-web usabilidad arquitectura-informacion arquitectura-visual xhtml css-2 javascript photoshop dreamweaver fireworks flash 2010 infotec web-builder sitio-web gubernamental pjdf">

  <figure class="figure">
      <img id="imagen18" src="../assets/img/proyectos/pjdf-thumb-a.jpg" width="340" height="340" alt="Imagen 10"/><br />
      <figcaption class="figcaption">
      <h3>PJDF</h3>
      <span class="icon desktop" title="Proyecto para dispositivos Desktop">&nbsp;</span>
      <p><strong class="year">Year: </strong><em class="year">2010</em><br />
      <strong class="industry">Industry: </strong><em class="industry">Gubernamental</em><br />
      <strong class="technologies">Technologies: </strong><em class="technologies">Accesibilidad, Usabilidad, Photoshop CS4...</em><br /></p>
        <a href="/at-the-beginning/nobody-knows-he-worked-on/pjdf" title="" >See project</a>
      </figcaption>
  </figure>    

  </section>	
  <!-- PJDF -->
  
  <!-- INFOTEC -->
  <section id="infotec" class="entrada estandares-web accesibilidad-web arquitectura-informacion arquitectura-visual arquitectura-soluciones usabilidad xhtml css-2 javascript dojo photoshop dreamweaver flash fireworks 2010 infotec web-builder portal investigacion-y-desarrollo-tecnologico">

  <figure class="figure">
      <img id="imagen19" src="../assets/img/proyectos/infotec-thumb-a.jpg" width="340" height="340" alt="Infotec"/><br />
      <figcaption class="figcaption">
      <h3>INFOTEC</h3>
      <span class="icon desktop" title="Proyecto para dispositivos Desktop">&nbsp;</span>
      <p><strong class="year">Year: </strong><em class="year">2010</em><br />
      <strong class="industry">Industry: </strong><em class="industry">Investigaci&oacute;n y Desarrollo Tecnol&oacute;gico</em><br />
      <strong class="technologies">Technologies: </strong><em class="technologies">SWB 4.0, Photoshop CS4...</em><br /></p>
        <a href="/at-the-beginning/nobody-knows-he-worked-on/infotec" title="" >See project</a>
      </figcaption>
   </figure>   
  </section>	
  <!-- INFOTEC -->
  
  <!-- Sonora -->
  <section id="sonora" class="entrada estandares-web accesibilidad-web arquitectura-informacion arquitectura-visual usabilidad xhtml xml css-2 javascript photoshop dreamweaver flash fireworks dojo 2010 infotec web-builder portal gubernamental">

  <figure class="figure">
      <img id="imagen20" src="../assets/img/proyectos/sonora-thumb-a.jpg" width="340" height="340" alt="Sonora"/><br />
      <figcaption class="figcaption">
      <h3>Sonora</h3>
      <span class="icon desktop" title="Proyecto para dispositivos Desktop">&nbsp;</span>
      <p><strong class="year">Year: </strong><em class="year">2010</em><br />
      <strong class="industry">Industry: </strong><em class="industry">Gubernamental</em><br />
      <strong class="technologies">Technologies: </strong><em class="technologies"><abbr title="Extensible Hypertext Markup Languaje">XHTML</abbr> 1.0 <span lang="es-mx">estricto</span>, <abbr title="Extensible Markup Languaje">XML</abbr> 1.0, Accesibilidad, Usabil...</em><br /></p>
        <a href="/at-the-beginning/nobody-knows-he-worked-on/sonora" title="" >See project</a>
      </figcaption>
   </figure>
  </section>	
  <!-- Sonora -->
  
  <!-- Cajeme -->
  <section id="cajeme" class="entrada estandares-web accesibilidad-web arquitectura-informacion arquitectura-visual usabilidad xhtml css-2 javascript photoshop dreamweaver flash fireworks dojo 2010 infotec web-builder portal gubernamental">

  <figure class="figure">
      <img id="imagen21" src="../assets/img/proyectos/cajeme-thumb-a.jpg" width="340" height="340" alt="Cajeme"/><br />
      <figcaption class="figcaption">
      <span class="icon desktop" title="Proyecto para dispositivos Desktop">&nbsp;</span>
      <h3>Cajeme</h3>
      <p><strong class="year">Year: </strong><em class="year">2010</em><br />
      <strong class="industry">Industry: </strong><em class="industry">Gubernamental</em><br />
      <strong class="technologies">Technologies: </strong><em class="technologies"><abbr title="Extensible Hypertext Markup Languaje">XHTML</abbr> 1.0 <span lang="es-mx">estricto</span>, <abbr title="Content Management System">CMS</abbr> (<abbr title="Semantic Web Builder">SWB</abbr> 4.0), <span lang="es-mx">Est&aacute;ndares</span>...</em><br /></p>
        <a href="/at-the-beginning/nobody-knows-he-worked-on/cajeme" title="" >See project</a>
      </figcaption>
   </figure>
  </section>	
  <!-- Cajeme -->
  
  <!-- Tulum -->
  <section id="tulum" class="entrada estandares-web accesibilidad-web arquitectura-informacion arquitectura-visual usabilidad xhtml css-2 javascript photoshop dreamweaver flash fireworks dojo 2009 infotec web-builder portal gubernamental">

  <figure class="figure">
      <img id="imagen22" src="../assets/img/proyectos/tulum-thumb-a.jpg" width="340" height="340" alt="Tulum"/><br />
      <figcaption class="figcaption">
      <h3>Tulum</h3>
      <span class="icon desktop" title="Proyecto para dispositivos Desktop">&nbsp;</span>
      <p><strong class="year">Year: </strong><em class="year">2010</em><br />
      <strong class="industry">Industry: </strong><em class="industry">Gubernamental</em><br />
      <strong class="technologies">Technologies: </strong><em class="technologies"><abbr title="Extensible Hypertext Markup Languaje">XHTML</abbr> 1.0 <span lang="es-mx">estricto</span>, <abbr title="Cascading Style Sheets">CSS</abbr> 2.1, Javascript 1.5, Dojo...</em><br /></p>
        <a href="/at-the-beginning/nobody-knows-he-worked-on/tulum" title="" >See project</a>
      </figcaption>
   </figure>
  </section>	
  <!-- Tulum -->
  
  <!-- Reynosa -->
  <section id="reynosa" class="entrada estandares-web accesibilidad-web arquitectura-informacion arquitectura-visual usabilidad xhtml css-2 javascript photoshop dreamweaver flash fireworks mootools 2009 infotec web-builder  sitio-web gubernamental">

  <figure class="figure">
      <img id="imagen23" src="../assets/img/proyectos/reynosa-thumb-a.jpg" width="340" height="340" alt="Reynosa"/><br />
      <figcaption class="figcaption">
      <h3>Reynosa</h3>
      <span class="icon desktop" title="Proyecto para dispositivos Desktop">&nbsp;</span>
      <p><strong class="year">Year: </strong><em class="year">2010</em><br />
      <strong class="industry">Industry: </strong><em class="industry">Gubernamental</em><br />
      <strong class="technologies">Technologies: </strong><em class="technologies"><abbr title="Extensible Hypertext Markup Languaje">XHTML</abbr> 1.0 <span lang="es-mx">estricto</span>, <abbr title="Cascading Style Sheets">CSS</abbr> 2.1, <span lang="es-mx">Estándares</span> Web...</em><br /></p>
        <a href="/at-the-beginning/nobody-knows-he-worked-on/reynosa" title="" >See project</a>
      </figcaption>
   </figure>
  </section>	
  <!-- Reynosa -->
  
  <!-- Pymes Turisticas -->
  <section id="pymes-turisticas" class="entrada estandares-web accesibilidad-web arquitectura-informacion arquitectura-visual usabilidad xhtml css-2 photoshop dreamweaver fireworks 2009 mootools infotec web-builder portal turismo secretaria-de-turismo">

  <figure class="figure">
      <img id="imagen24" src="../assets/img/proyectos/pymesturisticas-thumb-a.jpg" width="340" height="340" alt="Imagen 13"/><br />
      <figcaption class="figcaption">
      <h3>Pymes Tur&iacute;sticas</h3>
      <span class="icon desktop" title="Proyecto para dispositivos Desktop">&nbsp;</span>
      <p><strong class="year">Year: </strong><em class="year">2009</em><br />
      <strong class="industry">Industry: </strong><em class="industry">Turismo</em><br />
      <strong class="technologies">Technologies: </strong><em class="technologies">Est&aacute;ndares Web, Accesibilidad, Usabilidad...</em><br /></p>
        <a href="/at-the-beginning/nobody-knows-he-worked-on/pymes-turisticas" title="" >See project</a>
      </figcaption>
   </figure>
  </section>	
  <!-- Pymes Turisticas -->
  
  <!-- Nissan Latinoamerica -->
  <section id="nissan-latinoamerica" class="entrada estandares-web arquitectura-soluciones usabilidad xhtml xml actionscript-3 css-2 fireworks illustrator dreamweaver flash 2009 cacto-arte-e-ideas portal automotriz nissan-de-mexico">

  <figure class="figure">
      <img id="imagen25" src="../assets/img/proyectos/nissanlac-thumb-a.jpg" width="340" height="340" alt="Imagen 14"/><br />
      <figcaption class="figcaption">
      <h3>Nissan Latinoam&eacute;rica</h3>
      <span class="icon desktop" title="Proyecto para dispositivos Desktop">&nbsp;</span>
      <p><strong class="year">Year: </strong><em class="year">2009</em><br />
      <strong class="industry">Industry: </strong><em class="industry">Automotriz</em><br />
      <strong class="technologies">Technologies: </strong><em class="technologies">XML 1.0, CSS 2.1, ActionScript 3.0, CMS...</em><br /></p>
        <a href="/at-the-beginning/nobody-knows-he-worked-on/nissan-latinoamerica" title="" >See project</a>
      </figcaption>
   </figure>   

  </section>	
  <!-- Nissan Latinoamerica -->
  
  <!-- Query Technologies -->
  <section id="query-technologies" class="entrada estandares-web arquitectura-informacion arquitectura-visual arquitectura-soluciones usabilidad ux xhtml xml actionscript-3 css-2 javascript photoshop dreamweaver fireworks after-effects premiere flash 2009 cacto-arte-e-ideas sitio-web telecomunicaciones query-technologies">
  <figure class="figure">
      <img id="imagen26" src="../assets/img/proyectos/query-thumb-a.jpg" width="340" height="340" alt="Query Technologies"/><br />
      <figcaption class="figcaption">
      <h3>Query Technologies</h3>
      <span class="icon desktop" title="Proyecto para dispositivos Desktop">&nbsp;</span>
      <p><strong class="year">Year: </strong><em class="year">2009</em><br />
      <strong class="industry">Industry: </strong><em class="industry">Telecomunicaciones</em><br />
      <strong class="technologies">Technologies: </strong><em class="technologies">Arquitectura de Informaci&oacute;n, UX...</em><br /></p>
      <div id="vinculos15" class="vinculos">
        <a href="/at-the-beginning/nobody-knows-he-worked-on/query-technologies" title="" >See project</a></div>
      </figcaption>
    </figure>  

  </section>	
  <!-- Query Technologies -->
  
  <!-- Honda Miramontes -->
  <section id="honda-miramontes" class="entrada estandares-web accesibilidad-web arquitectura-informacion arquitectura-visual arquitectura-soluciones usabilidad xhtml xml actionscript-2 css-2 javascript php mysql photoshop dreamweaver flash fireworks illustrator 2008 red-enlaces sitio-web automotriz grupo-contreras">
  <figure class="figure">
      <img id="imagen27" src="../assets/img/proyectos/hondamiramontes-thumb-a.jpg" width="340" height="340" alt="Imagen 16"/><br />
      <figcaption class="figcaption">
      <h3>Honda Miramontes</h3>
      <span class="icon desktop" title="Proyecto para dispositivos Desktop">&nbsp;</span>
      <p><strong class="year">Year: </strong><em class="year">2008</em><br />
      <strong class="industry">Industry: </strong><em class="industry">Automotriz</em><br />
      <strong class="technologies">Technologies: </strong><em class="technologies">PHP 5, MySQL 5, Actionscript 2.0...</em><br /></p>
        <a href="/at-the-beginning/nobody-knows-he-worked-on/honda-miramontes" title="" >See project</a>
      </figcaption>
   </figure>   
  </section>	
  <!-- Honda Miramontes -->
  
  <!-- Concesionarios Peugeot -->
  <section id="concesionarios-peugeot" class="entrada estandares-web accesibilidad-web arquitectura-informacion arquitectura-visual arquitectura-soluciones xhtml xml actionscript-2 css-2 javascript php mysql photoshop dreamweaver flash 2008 red-enlaces sitio-web automotriz concesionarios-peugeot">
  <figure class="figure">
      <img id="imagen28" src="../assets/img/proyectos/concesionarios-thumb-a.jpg" width="340" height="340" alt="Imagen 17"/><br />
      <figcaption class="figcaption">
      <h3>Concesionarios Peugeot</h3>
      <span class="icon desktop" title="Proyecto para dispositivos Desktop">&nbsp;</span>
      <p><strong class="year">Year: </strong><em class="year">2008</em><br />
      <strong class="industry">Industry: </strong><em class="industry">Automotriz</em><br />
      <strong class="technologies">Technologies: </strong><em class="technologies">PHP 4, MySQL 4, Actionscript 2.0...</em><br /></p>
        <a href="/at-the-beginning/nobody-knows-he-worked-on/concesionarios-peugeot" title="" >See project</a>
      </figcaption>
   </figure>   

  </section>	
  <!-- Concesionarios Peugeot -->
  
  <!-- Toyota Universidad -->
  <section id="toyota-universidad" class="entrada arquitectura-visual xhtml xml css-2 actionscript-2 javascript php mysql illustrator photoshop dreamweaver flash 2007 red-enlaces  sitio-web automotriz grupo-camsa">

  <figure class="figure">
      <img id="imagen29" src="../assets/img/proyectos/toyota-thumb-a.jpg" width="340" height="340" alt="Imagen 18"/><br />
      <figcaption class="figcaption">
      <h3>Toyota Universidad</h3>
      <span class="icon desktop" title="Proyecto para dispositivos Desktop">&nbsp;</span>
      <p><strong class="year">Year: </strong><em class="year">2007</em><br />
      <strong class="industry">Industry: </strong><em class="industry">Automotriz</em><br />
      <strong class="technologies">Technologies: </strong><em class="technologies">XHTML 1.0 de transici&oacute;n, PHP 5, MySQL 4...</em><br /></p>
        <a href="/at-the-beginning/nobody-knows-he-worked-on/toyota-universidad" title="" >See project</a>
      </figcaption>
    </figure>  

  </section>	
  <!-- Toyota Universidad -->
  
  <!-- Ford Camsa -->
  <section id="ford-camsa" class="entrada arquitectura-visual html-4 css-2 php mysql photoshop fireworks flash dreamweaver 2007 red-enlaces sitio-web automotriz grupo-camsa">

  <figure class="figure">
      <img id="imagen30" src="../assets/img/proyectos/fordcamsa-thumb-a.jpg" width="340" height="340" alt="Imagen 19"/><br />
      <figcaption class="figcaption">
      <h3>Ford Camsa</h3>
      <span class="icon desktop" title="Proyecto para dispositivos Desktop">&nbsp;</span>
      <p><strong class="year">Year: </strong><em class="year">2007</em><br />
      <strong class="industry">Industry: </strong><em class="industry">Automotriz</em><br />
      <strong class="technologies">Technologies: </strong><em class="technologies">HTML 1.0 Frameset, PHP 4, Java...</em><br /></p>
        <a href="/at-the-beginning/nobody-knows-he-worked-on/ford-camsa" title="" >See project</a>
      </figcaption>
    </figure>  

  </section>