<header>
  <h1>Nobody knows he worked on...</h1>
  <nav role="navigation">
    In this section
    <ul>
      <li><a href="#seccionAmarilla"><span>Secci&oacute;n Amarilla</span></a></li>
     <li><a href="#menumania"><span>Menumania</span></a></li>
     <li><a href="#cmll"><span>CMLL</span></a></li>
     <li><a href="#cuarto-de-maquinas"><span>Cuarto de M&aacute;quinas</span></a></li>
     <li><a href="#cantina-la-ribera"><span>Cantina La Ribera</span></a></li>
     <li><a href="#aventuras-enmascaradas"><span>Aventuras Enmascaradas</span></a></li>
     <li><a href="#hospital-espyearl"><span>Hospital Espa&ntilde;ol</span></a></li>
     <li><a href="#club-atletico-madrid">Club Atl&eacute;tico de Madrid</a></li>
     <li><a href="#lithopac"><span>Lithopac</span></a></li>
     <li><a href="#tops-and-bottoms">Tops & Bottoms</a></li>
     <li><a href="#optima-cotton-wear"><span>Optima Cotton Wear Cotton Wear</span></a></li>
     <li><a href="#rutas-de-mexico"><span>Rutas de M&eacute;xico</span></a></li>
     <li><a href="#el-mascara"><span>El M&aacute;scara</span></a></li>
     <li><a href="#patricia-mexica"><span>Patricia Mexica</span></a></li>
     <li><a href="#pjdf"><span>PJDF</span></a></li>
     <li><a href="#infotec"><span>Infotec</span></a></li>
     <li><a href="#sonora"><span>Sonora</span></a></li>
     <li><a href="#cajeme"><span>Cajeme</span></a></li>
     <li><a href="#tulum"><span>Tulum</span></a></li>
     <li><a href="#reynosa"><span>Reynosa</span></a></li>
     <li><a href="#pymes-turisticas"><span>Pymes Tur&iacute;sticas</span></a></li>
     <li><a href="#nissan-latinoamerica"><span>Nissan Latinoamérica</span></a></li>
     <li><a href="#query-technologies"><span>Query Technologies</span></a></li>
     <li><a href="#honda-miramontes"><span>Honda Miramontes</span></a></li>
     <li><a href="#concesionarios-peugeot"><span>Concesionarios Peugeot</span></a></li>
     <li><a href="#toyota-universidad"><span>Toyota Universidad</span></a></li>
     <li><a href="#ford-camsa"><span>Ford Camsa</span></a></li>
    </ul>
  </nav>    
</header>

<section id="seccionAmarilla" class="entrada estandares-web accesibilidad-web arquitectura-informacion arquitectura-visual arquitectura-soluciones ux responsive-web-design optimizacion-web microformatos google-analytics google-page-speed comscore seo ios windows-8 windows-phone-8 android c-sharp php jquery xaml punto-net java photoshop fireworks visual-studio cocoa eclipse 2014 seccion-amarilla portal blog wordpress orchard web-app app anuncios-en-directorios buscadores">
  <figure class="figure">
      <img id="imagen1" src="../assets/img/proyectos/seccionamarilla-thumb-a.jpg" width="340" height="340" alt="Sección Amarilla"/><br />
      <figcaption class="figcaption">
          <h3>Secci&oacute;n Amarilla</h3>
          <span class="icon desktop tablet smartphone" title="Proyecto para dispositivos Desktop, Tablet y Smartphone">&nbsp;</span>
          <p><strong class="year">Year: </strong><em class="year">2014</em><br />
          <strong class="industry">Industry: </strong><em class="industry">Anuncios en Directorios</em><br />
          <strong class="technologies">Technologies: </strong><em class="technologies">Microformatos, C# 5.0, <abbr title="Xtensible Application Markup Language - Lenguaje Extensible de Formato para Aplicaciones">XAML</abbr> 1.0, <abbr title="Hypertext Pre-procesor - Pre-procesador de hypertextos">PHP</abbr>...</em>
          </p>
          <a href="seccion-amarilla" title="" >See project</a>
        </figcaption>
    </figure>
</section>

<section id="menumania" class="entrada estandares-web accesibilidad-web arquitectura-informacion arquitectura-visual arquitectura-soluciones ux responsive-web-design optimizacion-web microformatos seo google-analytics google-page-speed comscore ios windows-8 windows-phone-8 android c-sharp xaml php jquery punto-net java photoshop fireworks visual-studio xcode objective-c cocoa eclipse 2014 seccion-amarilla menumania anuncios-en-directorios portal blog wordpress orchard web-app app restaurantes buscadores">
  <figure class="figure">
     <img id="imagen2" src="../assets/img/proyectos/menumania-thumb-a.jpg" width="340" height="340" alt="Menumania"/><br />
     <figcaption class="figcaption">
         <h3>Menumania</h3>
         <span class="icon desktop tablet smartphone" title="Proyecto para dispositivos Desktop, Tablet y Smartphone">&nbsp;</span>
         <p><strong class="year">Year: </strong><em class="year">2014</em><br />
         <strong class="industry">Industry: </strong><em class="industry">Portal de Restaurantes</em><br />
         <strong class="technologies">Technologies: </strong><em class="technologies">Sitio Web, Blog y WebApp, C# 5.0, Visual...</em><br /></p>
         <a href="menumania" title="" >See project</a>
       </figcaption>
    </figure>
</section>

<section id="cmll" class="entrada estandares-web accesibilidad-web arquitectura-informacion arquitectura-visual arquitectura-soluciones ux ios windows-8 responsive-web-design c-sharp xaml punto-net java expression-studio photoshop fireworks visual-studio xcode objective-c cocoa eclipse 2013 ec-global-network cmll app entretenimiento">
  <figure class="figure">
     <img id="imagen3" src="../assets/img/proyectos/cmll-thumb-a.jpg" width="340" height="340" alt="CMLL"/><br />
     <figcaption class="figcaption">
         <h3>CMLL</h3>
         <span class="icon desktop" title="Proyecto para dispositivos Tablet">&nbsp;</span>
         <p><strong class="year">Year: </strong><em class="year">2013</em><br />
         <strong class="industry">Industry: </strong><em class="industry">Entretenimiento</em><br />
         <strong class="technologies">Technologies: </strong><em class="technologies">C# 5.0, <abbr title="Xtensible Application Markup Language - Lenguaje Extensible de Formato para Aplicaciones">XAML 1.0</abbr>, Visual Studio 2012, XCode 4, Eclipse...</em><br /></p>
         <a href="cmll" title="" >See project</a>
       </figcaption>
    </figure>
</section>

<section id="cuarto-de-maquinas" class="entrada php mysql estandares-web arquitectura-soluciones responsive-web-design html-5 xaml css-3 photoshop dreamweaver fireworks jquery 2013 ec-global-network cuarto-de-maquinas wordpress sitio-web entretenimiento">
  <figure class="figure">
    <img id="imagen4" src="../assets/img/proyectos/cuartomaquinas-thumb-a.jpg" width="340" height="340" alt="Cuarto de M&aacute;quinas"/><br />
     <figcaption class="figcaption">
         <h3>Cuarto de M&aacute;quinas</h3>
         <span class="icon desktop" title="Proyecto para dispositivos Desktop">&nbsp;</span>
         <p><strong class="year">Year: </strong><em class="year">2013</em><br />
         <strong class="industry">Industry: </strong><em class="industry">Entretenimiento</em><br />
         <strong class="technologies">Technologies: </strong><em class="technologies"><abbr title="HyperText Markup Languaje">HTML</abbr> 5, <abbr title="Cascading Style Sheets">CSS</abbr> 3, <abbr title="Hypertext Pre-processor - Pre procesador de Hipertexto">PHP</abbr> 5.2, <abbr title="">MySQL</abbr> 5.6, JQuery 1.8.3...</em><br /></p>
         <a href="cuarto-de-maquinas" title="" >See project</a>
       </figcaption>
    </figure>
</section>

<section id="cantina-la-ribera" class="entrada estandares-web arquitectura-soluciones responsive-web-design seo google-analytics html-5 xaml css-3 photoshop dreamweaver fireworks jquery 2013 ec-global-network cantina-la-ribera wordpress sitio-web restaurantes">
  <figure class="figure">
    <img id="imagen5" src="../assets/img/proyectos/cantinaribera-thumb-a.jpg" width="340" height="340" alt="Cantina La ribera"/><br />
     <figcaption class="figcaption">
         <h3>Cantina La Ribera</h3>
         <span class="icon desktop tablet smartphone" title="Proyecto para dispositivos Desktop, Tablet y Smartphone">&nbsp;</span>
         <p><strong class="year">Year: </strong><em class="year">2013</em><br />
         <strong class="industry">Industry: </strong><em class="industry">Restaurantes</em><br />
         <strong class="technologies">Technologies: </strong><em class="technologies"><abbr title="HyperText Markup Languaje">HTML</abbr> 5, <abbr title="Cascading Style Sheets">CSS</abbr> 3,  Dreamweaver CS6, Wordpress 3.5...</em><br /></p>
         <a href="cantina-la-ribera" title="" >See project</a>
       </figcaption>
    </figure>
</section>

<section id="aventuras-enmascaradas" class="entrada estandares-web accesibilidad-web arquitectura-informacion arquitectura-visual arquitectura-soluciones ux responsive-web-design seo google-analytics parallax-scrolling html-5 xaml css-3 javascript c-sharp punto-net illustrator photoshop dreamweaver fireworks visual-studio expression-studio unity construct-2 jquery apache-cordova 2012 2013 ec-global-network mama-lola wordpress sitio-web app entretenimiento">
  <figure class="figure">
    <img id="imagen6" src="../assets/img/proyectos/aventuras-thumb-a.jpg" width="340" height="340" alt="Aventuras Enmascaradas"/><br />
     <figcaption class="figcaption">
         <h3>Aventuras Enmascaradas</h3>
         <span class="icon desktop" title="Proyecto para dispositivos Desktop">&nbsp;</span>
         <p><strong class="year">Year: </strong><em class="year">2013</em><br />
         <strong class="industry">Industry: </strong><em class="industry">Entretenimiento</em><br />
         <strong class="technologies">Technologies: </strong><em class="technologies"><abbr title="HyperText Markup Languaje">HTML</abbr> 5, <abbr title="Cascading Style Sheets">CSS</abbr> 3, JQuery 1.9, C# 5.0, <abbr title="Xtensible Application Markup Language - Lenguaje Extensible de Formato para Aplicaciones">XAML</abbr>, Apache Cord...</em><br /></p>
         <a href="aventuras-enmascaradas" title="" >See project</a>
       </figcaption>
    </figure>
</section>

<section id="hospital-espyearl" class="entrada estandares-web accesibilidad-web arquitectura-informacion arquitectura-visual arquitectura-soluciones ux seo google-analytics responsive-web-design html-5 css-3 javascript php mysql illustrator photoshop dreamweaver fireworks jquery 2013 ec-global-network joomla sitio-web salud sbe">
  <figure class="figure">
      <img id="imagen7" src="../assets/img/proyectos/hospital-espyearl-thumb-a.jpg" width="340" height="340" alt="Hospital Espa&ntilde;ol"/><br />
      <figcaption class="figcaption">
      <h3>Hospital Espa&ntilde;ol</h3>
      <span class="icon desktop tablet smartphone" title="Proyecto para dispositivos Desktop, Tablet y Smartphone">&nbsp;</span>
      <p><strong class="year">Year: </strong><em class="year">2013</em><br />
      <strong class="industry">Industry: </strong><em class="industry">Salud</em><br />
      <strong class="technologies">Technologies: </strong><em class="technologies">HTML 5, CSS 3, JQuery 1.8.3, Joomla 2.5, Est&aacute;ndares...</em><br /></p>
        <a href="hospital-espyearl" title="" >See project</a>
      </figcaption>
   </figure>
</section>

<section id="club-atletico-madrid" class="entrada estandares-web accesibilidad-web arquitectura-informacion arquitectura-visual ux seo google-analytics google-adwords responsive-web-design html-5 css-3 javascript php mysql photoshop dreamweaver fireworks jquery 2013 ec-global-network joomla club-atletico-madrid sitio-web deportes">
  <figure class="figure">
      <img id="imagen8" src="../assets/img/proyectos/atleticomadrid-thumb-a.jpg" width="340" height="340" alt="Imagen 3"/><br />
      <figcaption class="figcaption">
      <h3>Club Atl&eacute;tico de Madrid</h3>
      <span class="icon desktop tablet smartphone" title="Proyecto para dispositivos Desktop, Tablet y Smartphone">&nbsp;</span>
      <p><strong class="year">Year: </strong><em class="year">2013</em><br />
      <strong class="industry">Industry: </strong><em class="industry">Deportes</em><br />
      <strong class="technologies">Technologies: </strong><em class="technologies">HTML 5, CSS 3, JQuery 1.8, Joomla 2.5, Est&aacute;ndares...</em><br /></p>
        <a href="club-atletico-madrid" title="" >See project</a>
      </figcaption>
  </figure>    
</section>

<section id="skiny" class="entrada estandares-web accesibilidad-web arquitectura-informacion arquitectura-visual ux seo google-analytics google-adwords responsive-web-design html-5 css-3 javascript php mysql photoshop dreamweaver fireworks jquery 2012 ec-global-network avante-textil sitio-web textil">

  <figure class="figure">
      <img id="imagen9" src="../assets/img/proyectos/skiny-thumb-a.jpg" width="340" height="340" alt="Skiny"/><br />
      <figcaption class="figcaption">
      <h3>Skiny</h3>
      <span class="icon desktop" title="Proyecto para dispositivos Desktop">&nbsp;</span>
      <p><strong class="year">Year: </strong><em class="year">2012</em><br />
      <strong class="industry">Industry: </strong><em class="industry">Ropa Interior</em><br />
      <strong class="technologies">Technologies: </strong><em class="technologies">HTML 5, CSS 3, JQuery 1.8, Est&aacute;ndares...</em><br /></p>
        <a href="skiny" title="" >See project</a>
      </figcaption>
  </figure>    
  </section>	
  <!-- Skiny -->

  <!-- Lithopac -->
  <section id="lithopac" class="entrada estandares-web arquitectura-informacion arquitectura-visual arquitectura-soluciones ux seo google-analytics google-adwords html-5 razor css-3 javascript c-sharp punto-net sql-server illustrator photoshop dreamweaver fireworks visual-studio webmatrix jquery 960-grid-system boilerplate 2012 ec-global-network orchard sitio-web facturacion-electronica lithoformas">

  <figure class="figure">
      <img id="imagen10" src="../assets/img/proyectos/lithopac-thumb-a.jpg" width="340" height="340" alt="Imagen 4"/><br />
      <figcaption class="figcaption">
      <h3>Lithopac</h3>
       <span class="icon desktop" title="Proyecto para dispositivos Desktop">&nbsp;</span>
      <p><strong class="year">Year: </strong><em class="year">2012</em><br />
      <strong class="industry">Industry: </strong><em class="industry">Facturaci&oacute;n Electr&oacute;nica</em><br />
      <strong class="technologies">Technologies: </strong><em class="technologies"><abbr title="HyperText Markup Languaje">HTML</abbr>
5,<abbr title="Cascading Style Sheets">CSS</abbr> 3, JQuery 1.7.2, Razor...</em><br /></p>
        <a href="lithopac" title="" >See project</a>
      </figcaption>
   </figure>   
  </section>	
  <!-- Lithopac -->

  <!-- Tops & Bottoms -->
  <section id="tops-and-bottoms" class="entrada estandares-web accesibilidad-web arquitectura-informacion ux seo google-analytics google-adwords html-5 css-3 javascript php mysql photoshop dreamweaver fireworks initializr 960-grid-system 2012 ec-global-network sitio-web textil avante-textil">

  <figure class="figure">
      <img id="imagen11" src="../assets/img/proyectos/topsandbottoms-thumb-a.jpg" width="340" height="340" alt="Imagen 5"/><br />
      <figcaption class="figcaption">
      <h3>Tops & Bottoms</h3>
      <span class="icon desktop" title="Proyecto para dispositivos Desktop">&nbsp;</span>
      <p><strong class="year">Year: </strong><em class="year">2012</em><br />
      <strong class="industry">Industry: </strong><em class="industry">Lenceria</em><br />
      <strong class="technologies">Technologies: </strong><em class="technologies">XHTML 1.0 de transici&oacute;n, CSS 2.1, Java...</em><br /></p>
        <a href="tops-and-bottoms" title="" >See project</a>
      </figcaption>
   </figure>   
  </section>	
  <!-- Tops & Bottoms -->

  <!-- Optima Cotton Wear Cotton Wear -->
  <section id="optima-cotton-wear" class="entrada estandares-web seo google-analytics google-adwords xhtml css-2 php mysql photoshop dreamweaver fireworks jquery initializr 2012 ec-global-network avante-textil sitio-web textil">

  <figure class="figure">
      <img id="imagen12" src="../assets/img/proyectos/optima-thumb-a.jpg" width="340" height="340" alt="Imagen 5"/><br />
      <figcaption class="figcaption">
      <h3>Optima Cotton Wear</h3>
      <span class="icon desktop" title="Proyecto para dispositivos Desktop">&nbsp;</span>
      <p><strong class="year">Year: </strong><em class="year">2012</em><br />
      <strong class="industry">Industry: </strong><em class="industry">Ropa familiar</em><br />
      <strong class="technologies">Technologies: </strong><em class="technologies">XHTML 1.0 de transici&oacute;n, CSS 2.1, Java...</em><br /></p>
        <a href="optima-cotton-wear" title="" >See project</a>
      </figcaption>
    </figure>     
  </section>	
  <!-- Optima Cotton Wear Cotton Wear -->
  
  <!-- Koomkin -->
  <section id="koomkin" class="entrada estandares-web seo xhtml css-2 asp c-sharp punto-net sql-server photoshop dreamweaver fireworks jquery initializr 2012 ec-global-network koomkin sitio-web buscadores">

  <figure class="figure">
      <img id="imagen13" src="../assets/img/proyectos/koomkin-thumb-a.jpg" width="340" height="340" alt="Imagen 5"/><br />
      <figcaption class="figcaption">
      <h3>Koomkin</h3>
      <span class="icon desktop" title="Proyecto para dispositivos Desktop">&nbsp;</span>
      <p><strong class="year">Year: </strong><em class="year">2012</em><br />
      <strong class="industry">Industry: </strong><em class="industry">Directorio de empresas</em><br />
      <strong class="technologies">Technologies: </strong><em class="technologies">XHTML 1.0 de transici&oacute;n, CSS 2.1, Razor, SQL Se...</em><br /></p>
        <a href="koomkin" title="" >See project</a>
      </figcaption>
    </figure>     
  </section>	
  <!-- Optima Cotton Wear Cotton Wear -->
  
  <!-- Embajadas Latinoamericanas -->
  <section id="embajadas-latinoamericanas" class="entrada estandares-web accesibilidad usabilidad ux seo cms google-analytics google-adwords html-5 css-3 php mysql photoshop dreamweaver fireworks jquery joomla 2012 ec-global-network embajadas-latinoamericanas sitio-web turismo">

  <figure class="figure">
      <img id="imagen14" src="../assets/img/proyectos/embajadas-thumb-a.jpg" width="340" height="340" alt="Imagen 5"/><br />
      <figcaption class="figcaption">
      <h3>Embajadas Latinoamericanas</h3>
      <span class="icon desktop" title="Proyecto para dispositivos Desktop">&nbsp;</span>
      <p><strong class="year">Year: </strong><em class="year">2012</em><br />
      <strong class="industry">Industry: </strong><em class="industry">Turismo</em><br />
      <strong class="technologies">Technologies: </strong><em class="technologies">HTML 5, CSS 3, Accesibilidad, SEO, Google Adwords...</em><br /></p>
        <a href="embajadas-latinoamericanas" title="" >See project</a>
      </figcaption>
    </figure>     
  </section>	
  <!-- Optima Cotton Wear Cotton Wear -->

  <!-- Rutas de M&eacute;xico -->
  <section id="rutas-de-mexico" class="entrada estandares-web accesibilidad-web usabilidad arquitectura-informacion xhtml xml css-2 javascript photoshop dreamweaver flash fireworks 2011 infotec web-builder portal turismo secretaria-de-turismo">

  <figure class="figure">
      <img id="imagen15" src="../assets/img/proyectos/rutasdemexico-thumb-a.jpg" width="340" height="340" alt="Imagen 7"/><br />
      <figcaption class="figcaption">
      <h3>Rutas de M&eacute;xico</h3>
      <span class="icon desktop" title="Proyecto para dispositivos Desktop">&nbsp;</span>
      <p><strong class="year">Year: </strong><em class="year">2011</em><br />
      <strong class="industry">Industry: </strong><em class="industry">Turismo</em><br />
      <strong class="technologies">Technologies: </strong><em class="technologies">HTML 4.0 de transici&oacute;n, XML 1.0, CSS 2.1...</em><br /></p>
        <a href="rutas-de-mexico" title="" >See project</a>
      </figcaption>
   </figure>   
  </section>	
  <!-- Rutas de M&eacute;xico -->
  
  <!-- El M&aacute;scara -->
  <section id="el-mascara" class="entrada estandares-web accesibilidad-web usabilidad arquitectura-informacion arquitectura-visual arquitectura-soluciones xhtml css-2 javascript yui illustrator photoshop dreamweaver fireworks 2011 infotec web-builder portal e-learning gsc-asociados">

  <figure class="figure">
  <img id="imagen16" src="../assets/img/proyectos/elmascara-thumb-a.jpg" width="340" height="340" alt="El M&aacute;scara"/><br />
  <figcaption class="figcaption">
  <h3>El M&aacute;scara</h3>
  <span class="icon desktop" title="Proyecto para dispositivos Desktop">&nbsp;</span>
  <p><strong class="year">Year: </strong><em class="year">2011</em><br />
  <strong class="industry">Industry: </strong><em class="industry">e-learning</em><br />
  <strong class="technologies">Technologies: </strong><em class="technologies">XHTML 1.0 estricto, CSS 2.1, Ilustraci&oacute;n, Usabilidad, <span lang="en"><abbr title="User Experience - Experiencia de usuario">UX</abbr></span>...</em><br /></p>
    <a href="el-mascara" title="" >See project</a>
    </figcaption>
  </figure>
  </section>	
  <!-- El M&aacute;scara -->
  
  <!-- Patricia Mexica -->
  <section id="patricia-mexica" class="entrada estandares-web arquitectura-informacion arquitectura-visual arquitectura-soluciones ux xml actionscript-3 css-2 illustrator photoshop dreamweaver flash fireworks indesign 2011 freelance sitio-web diseno-editorial patricia-mexica">

  <figure class="figure">
      <img id="imagen17" src="../assets/img/proyectos/patriciamexica-thumb-a.jpg" width="340" height="340" alt="Patricia Mexica"/><br />
      <figcaption class="figcaption">
      <h3>Patricia Mexica</h3>
      <span class="icon desktop" title="Proyecto para dispositivos Desktop">&nbsp;</span>
      <p><strong class="year">Year: </strong><em class="year">2011</em><br />
      <strong class="industry">Industry: </strong><em class="industry">Dise&ntilde;o Editorial</em><br />
      <strong class="technologies">Technologies: </strong><em class="technologies">XML 1.0, ActionScript 3.0, POO...</em><br /></p>
        <a href="patricia-mexica" title="" >See project</a>
      </figcaption>
    </figure>  
  </section>	
  <!-- Patricia Mexica -->
  
  <!-- PJDF -->
   <section id="pjdf" class="entrada estandares-web accesibilidad-web usabilidad arquitectura-informacion arquitectura-visual xhtml css-2 javascript photoshop dreamweaver fireworks flash 2010 infotec web-builder sitio-web gubernamental pjdf">

  <figure class="figure">
      <img id="imagen18" src="../assets/img/proyectos/pjdf-thumb-a.jpg" width="340" height="340" alt="Imagen 10"/><br />
      <figcaption class="figcaption">
      <h3>PJDF</h3>
      <span class="icon desktop" title="Proyecto para dispositivos Desktop">&nbsp;</span>
      <p><strong class="year">Year: </strong><em class="year">2010</em><br />
      <strong class="industry">Industry: </strong><em class="industry">Gubernamental</em><br />
      <strong class="technologies">Technologies: </strong><em class="technologies">Accesibilidad, Usabilidad, Photoshop CS4...</em><br /></p>
        <a href="pjdf" title="" >See project</a>
      </figcaption>
  </figure>    

  </section>	
  <!-- PJDF -->
  
  <!-- INFOTEC -->
  <section id="infotec" class="entrada estandares-web accesibilidad-web arquitectura-informacion arquitectura-visual arquitectura-soluciones usabilidad xhtml css-2 javascript dojo photoshop dreamweaver flash fireworks 2010 infotec web-builder portal investigacion-y-desarrollo-tecnologico">

  <figure class="figure">
      <img id="imagen19" src="../assets/img/proyectos/infotec-thumb-a.jpg" width="340" height="340" alt="Infotec"/><br />
      <figcaption class="figcaption">
      <h3>INFOTEC</h3>
      <span class="icon desktop" title="Proyecto para dispositivos Desktop">&nbsp;</span>
      <p><strong class="year">Year: </strong><em class="year">2010</em><br />
      <strong class="industry">Industry: </strong><em class="industry">Investigaci&oacute;n y Desarrollo Tecnol&oacute;gico</em><br />
      <strong class="technologies">Technologies: </strong><em class="technologies">SWB 4.0, Photoshop CS4...</em><br /></p>
        <a href="infotec" title="" >See project</a>
      </figcaption>
   </figure>   
  </section>	
  <!-- INFOTEC -->
  
  <!-- Sonora -->
  <section id="sonora" class="entrada estandares-web accesibilidad-web arquitectura-informacion arquitectura-visual usabilidad xhtml xml css-2 javascript photoshop dreamweaver flash fireworks dojo 2010 infotec web-builder portal gubernamental">

  <figure class="figure">
      <img id="imagen20" src="../assets/img/proyectos/sonora-thumb-a.jpg" width="340" height="340" alt="Sonora"/><br />
      <figcaption class="figcaption">
      <h3>Sonora</h3>
      <span class="icon desktop" title="Proyecto para dispositivos Desktop">&nbsp;</span>
      <p><strong class="year">Year: </strong><em class="year">2010</em><br />
      <strong class="industry">Industry: </strong><em class="industry">Gubernamental</em><br />
      <strong class="technologies">Technologies: </strong><em class="technologies"><abbr title="Extensible Hypertext Markup Languaje">XHTML</abbr> 1.0 <span lang="es-mx">estricto</span>, <abbr title="Extensible Markup Languaje">XML</abbr> 1.0, Accesibilidad, Usabil...</em><br /></p>
        <a href="sonora" title="" >See project</a>
      </figcaption>
   </figure>
  </section>	
  <!-- Sonora -->
  
  <!-- Cajeme -->
  <section id="cajeme" class="entrada estandares-web accesibilidad-web arquitectura-informacion arquitectura-visual usabilidad xhtml css-2 javascript photoshop dreamweaver flash fireworks dojo 2010 infotec web-builder portal gubernamental">

  <figure class="figure">
      <img id="imagen21" src="../assets/img/proyectos/cajeme-thumb-a.jpg" width="340" height="340" alt="Cajeme"/><br />
      <figcaption class="figcaption">
      <span class="icon desktop" title="Proyecto para dispositivos Desktop">&nbsp;</span>
      <h3>Cajeme</h3>
      <p><strong class="year">Year: </strong><em class="year">2010</em><br />
      <strong class="industry">Industry: </strong><em class="industry">Gubernamental</em><br />
      <strong class="technologies">Technologies: </strong><em class="technologies"><abbr title="Extensible Hypertext Markup Languaje">XHTML</abbr> 1.0 <span lang="es-mx">estricto</span>, <abbr title="Content Management System">CMS</abbr> (<abbr title="Semantic Web Builder">SWB</abbr> 4.0), <span lang="es-mx">Est&aacute;ndares</span>...</em><br /></p>
        <a href="cajeme" title="" >See project</a>
      </figcaption>
   </figure>
  </section>	
  <!-- Cajeme -->
  
  <!-- Tulum -->
  <section id="tulum" class="entrada estandares-web accesibilidad-web arquitectura-informacion arquitectura-visual usabilidad xhtml css-2 javascript photoshop dreamweaver flash fireworks dojo 2009 infotec web-builder portal gubernamental">

  <figure class="figure">
      <img id="imagen22" src="../assets/img/proyectos/tulum-thumb-a.jpg" width="340" height="340" alt="Tulum"/><br />
      <figcaption class="figcaption">
      <h3>Tulum</h3>
      <span class="icon desktop" title="Proyecto para dispositivos Desktop">&nbsp;</span>
      <p><strong class="year">Year: </strong><em class="year">2010</em><br />
      <strong class="industry">Industry: </strong><em class="industry">Gubernamental</em><br />
      <strong class="technologies">Technologies: </strong><em class="technologies"><abbr title="Extensible Hypertext Markup Languaje">XHTML</abbr> 1.0 <span lang="es-mx">estricto</span>, <abbr title="Cascading Style Sheets">CSS</abbr> 2.1, Javascript 1.5, Dojo...</em><br /></p>
        <a href="tulum" title="" >See project</a>
      </figcaption>
   </figure>
  </section>	
  <!-- Tulum -->
  
  <!-- Reynosa -->
  <section id="reynosa" class="entrada estandares-web accesibilidad-web arquitectura-informacion arquitectura-visual usabilidad xhtml css-2 javascript photoshop dreamweaver flash fireworks mootools 2009 infotec web-builder  sitio-web gubernamental">

  <figure class="figure">
      <img id="imagen23" src="../assets/img/proyectos/reynosa-thumb-a.jpg" width="340" height="340" alt="Reynosa"/><br />
      <figcaption class="figcaption">
      <h3>Reynosa</h3>
      <span class="icon desktop" title="Proyecto para dispositivos Desktop">&nbsp;</span>
      <p><strong class="year">Year: </strong><em class="year">2010</em><br />
      <strong class="industry">Industry: </strong><em class="industry">Gubernamental</em><br />
      <strong class="technologies">Technologies: </strong><em class="technologies"><abbr title="Extensible Hypertext Markup Languaje">XHTML</abbr> 1.0 <span lang="es-mx">estricto</span>, <abbr title="Cascading Style Sheets">CSS</abbr> 2.1, <span lang="es-mx">Estándares</span> Web...</em><br /></p>
        <a href="reynosa" title="" >See project</a>
      </figcaption>
   </figure>
  </section>	
  <!-- Reynosa -->
  
  <!-- Pymes Turisticas -->
  <section id="pymes-turisticas" class="entrada estandares-web accesibilidad-web arquitectura-informacion arquitectura-visual usabilidad xhtml css-2 photoshop dreamweaver fireworks 2009 mootools infotec web-builder portal turismo secretaria-de-turismo">

  <figure class="figure">
      <img id="imagen24" src="../assets/img/proyectos/pymesturisticas-thumb-a.jpg" width="340" height="340" alt="Imagen 13"/><br />
      <figcaption class="figcaption">
      <h3>Pymes Tur&iacute;sticas</h3>
      <span class="icon desktop" title="Proyecto para dispositivos Desktop">&nbsp;</span>
      <p><strong class="year">Year: </strong><em class="year">2009</em><br />
      <strong class="industry">Industry: </strong><em class="industry">Turismo</em><br />
      <strong class="technologies">Technologies: </strong><em class="technologies">Est&aacute;ndares Web, Accesibilidad, Usabilidad...</em><br /></p>
        <a href="pymes-turisticas" title="" >See project</a>
      </figcaption>
   </figure>
  </section>	
  <!-- Pymes Turisticas -->
  
  <!-- Nissan Latinoamerica -->
  <section id="nissan-latinoamerica" class="entrada estandares-web arquitectura-soluciones usabilidad xhtml xml actionscript-3 css-2 fireworks illustrator dreamweaver flash 2009 cacto-arte-e-ideas portal automotriz nissan-de-mexico">

  <figure class="figure">
      <img id="imagen25" src="../assets/img/proyectos/nissanlac-thumb-a.jpg" width="340" height="340" alt="Imagen 14"/><br />
      <figcaption class="figcaption">
      <h3>Nissan Latinoam&eacute;rica</h3>
      <span class="icon desktop" title="Proyecto para dispositivos Desktop">&nbsp;</span>
      <p><strong class="year">Year: </strong><em class="year">2009</em><br />
      <strong class="industry">Industry: </strong><em class="industry">Automotriz</em><br />
      <strong class="technologies">Technologies: </strong><em class="technologies">XML 1.0, CSS 2.1, ActionScript 3.0, CMS...</em><br /></p>
        <a href="nissan-latinoamerica" title="" >See project</a>
      </figcaption>
   </figure>   

  </section>	
  <!-- Nissan Latinoamerica -->
  
  <!-- Query Technologies -->
  <section id="query-technologies" class="entrada estandares-web arquitectura-informacion arquitectura-visual arquitectura-soluciones usabilidad ux xhtml xml actionscript-3 css-2 javascript photoshop dreamweaver fireworks after-effects premiere flash 2009 cacto-arte-e-ideas sitio-web telecomunicaciones query-technologies">
  <figure class="figure">
      <img id="imagen26" src="../assets/img/proyectos/query-thumb-a.jpg" width="340" height="340" alt="Query Technologies"/><br />
      <figcaption class="figcaption">
      <h3>Query Technologies</h3>
      <span class="icon desktop" title="Proyecto para dispositivos Desktop">&nbsp;</span>
      <p><strong class="year">Year: </strong><em class="year">2009</em><br />
      <strong class="industry">Industry: </strong><em class="industry">Telecomunicaciones</em><br />
      <strong class="technologies">Technologies: </strong><em class="technologies">Arquitectura de Informaci&oacute;n, UX...</em><br /></p>
      <div id="vinculos15" class="vinculos">
        <a href="query-technologies" title="" >See project</a></div>
      </figcaption>
    </figure>  

  </section>	
  <!-- Query Technologies -->
  
  <!-- Honda Miramontes -->
  <section id="honda-miramontes" class="entrada estandares-web accesibilidad-web arquitectura-informacion arquitectura-visual arquitectura-soluciones usabilidad xhtml xml actionscript-2 css-2 javascript php mysql photoshop dreamweaver flash fireworks illustrator 2008 red-enlaces sitio-web automotriz grupo-contreras">
  <figure class="figure">
      <img id="imagen27" src="../assets/img/proyectos/hondamiramontes-thumb-a.jpg" width="340" height="340" alt="Imagen 16"/><br />
      <figcaption class="figcaption">
      <h3>Honda Miramontes</h3>
      <span class="icon desktop" title="Proyecto para dispositivos Desktop">&nbsp;</span>
      <p><strong class="year">Year: </strong><em class="year">2008</em><br />
      <strong class="industry">Industry: </strong><em class="industry">Automotriz</em><br />
      <strong class="technologies">Technologies: </strong><em class="technologies">PHP 5, MySQL 5, Actionscript 2.0...</em><br /></p>
        <a href="honda-miramontes" title="" >See project</a>
      </figcaption>
   </figure>   
  </section>	
  <!-- Honda Miramontes -->
  
  <!-- Concesionarios Peugeot -->
  <section id="concesionarios-peugeot" class="entrada estandares-web accesibilidad-web arquitectura-informacion arquitectura-visual arquitectura-soluciones xhtml xml actionscript-2 css-2 javascript php mysql photoshop dreamweaver flash 2008 red-enlaces sitio-web automotriz concesionarios-peugeot">
  <figure class="figure">
      <img id="imagen28" src="../assets/img/proyectos/concesionarios-thumb-a.jpg" width="340" height="340" alt="Imagen 17"/><br />
      <figcaption class="figcaption">
      <h3>Concesionarios Peugeot</h3>
      <span class="icon desktop" title="Proyecto para dispositivos Desktop">&nbsp;</span>
      <p><strong class="year">Year: </strong><em class="year">2008</em><br />
      <strong class="industry">Industry: </strong><em class="industry">Automotriz</em><br />
      <strong class="technologies">Technologies: </strong><em class="technologies">PHP 4, MySQL 4, Actionscript 2.0...</em><br /></p>
        <a href="concesionarios-peugeot" title="" >See project</a>
      </figcaption>
   </figure>   

  </section>	
  <!-- Concesionarios Peugeot -->
  
  <!-- Toyota Universidad -->
  <section id="toyota-universidad" class="entrada arquitectura-visual xhtml xml css-2 actionscript-2 javascript php mysql illustrator photoshop dreamweaver flash 2007 red-enlaces  sitio-web automotriz grupo-camsa">

  <figure class="figure">
      <img id="imagen29" src="../assets/img/proyectos/toyota-thumb-a.jpg" width="340" height="340" alt="Imagen 18"/><br />
      <figcaption class="figcaption">
      <h3>Toyota Universidad</h3>
      <span class="icon desktop" title="Proyecto para dispositivos Desktop">&nbsp;</span>
      <p><strong class="year">Year: </strong><em class="year">2007</em><br />
      <strong class="industry">Industry: </strong><em class="industry">Automotriz</em><br />
      <strong class="technologies">Technologies: </strong><em class="technologies">XHTML 1.0 de transici&oacute;n, PHP 5, MySQL 4...</em><br /></p>
        <a href="toyota-universidad" title="" >See project</a>
      </figcaption>
    </figure>  

  </section>	
  <!-- Toyota Universidad -->
  
  <!-- Ford Camsa -->
  <section id="ford-camsa" class="entrada arquitectura-visual html-4 css-2 php mysql photoshop fireworks flash dreamweaver 2007 red-enlaces sitio-web automotriz grupo-camsa">

  <figure class="figure">
      <img id="imagen30" src="../assets/img/proyectos/fordcamsa-thumb-a.jpg" width="340" height="340" alt="Imagen 19"/><br />
      <figcaption class="figcaption">
      <h3>Ford Camsa</h3>
      <span class="icon desktop" title="Proyecto para dispositivos Desktop">&nbsp;</span>
      <p><strong class="year">Year: </strong><em class="year">2007</em><br />
      <strong class="industry">Industry: </strong><em class="industry">Automotriz</em><br />
      <strong class="technologies">Technologies: </strong><em class="technologies">HTML 1.0 Frameset, PHP 4, Java...</em><br /></p>
        <a href="ford-camsa" title="" >See project</a>
      </figcaption>
    </figure>  

  </section>