<header>
  <h1>Secci&oacute;n Amarilla</h1>
    <nav role="navigation">
      In this section
      <ul>
        <li><a [routerLink]='"."' [fragment]='"brief"'><span>Brief</span></a></li>
        <li><a [routerLink]='"."' [fragment]='"gallery-project"'><span>Gallery</span></a></li>
      </ul>
    </nav>    
</header>

<div id="navegacionSecciones"><span class="hide">&laquo;</span>&nbsp; 
  <a href="menumania" class="anterior menumania" title="Presentaci&oacute;n del proyecto Menumania">
    <span class="icon-wrap"></span>
    <span class="info_wrap">
      <em>Previous project:</em>
      <strong>Menumania</strong>
    </span>
  </a> 
</div> 

<section id="brief">
  <h2>Brief</h2>
  <p class="goDown"><span>Jump to </span><span class="block">project galleries</span><span>: </span><a href="#galleryDesktop" class="icon_desktop" title="Ver la galería de dispositivos Desktop"><span class="hide">Desktop</span></a><span> &#124; </span><a href="#galleryTablet" class="icon_tablet" title="Ver gallery de dispositivos Tablet"><span class="hide">Tablet</span></a><span> &#124; </span><a href="#gallerySmartphone" class="icon_smartphone" title="Ver gallery de dispositivos Smartphone"><span class="hide">Smartphone</span></a></p>
  <p>
   <strong>Project: </strong><em class="titulo_proyecto">Secci&oacute;n Amarilla</em><br>
   <strong>Year: </strong><em>2014</em><br>
   <strong>Client: </strong><em>Secci&oacute;n Amarilla</em><br>
   <strong>Industry </strong><em lang="en-us">Anuncios en Directorios</em><br>
   <strong>Type: </strong><em>Dise&ntilde;o de Portal, Blog, WebApp, App para iOS, Android, Smart TV y Windows 8</em><br>
   <strong>Technologies: </strong><em lang="en-us">C# 5.0, <abbr title="Xtensible Application Markup Language - Lenguaje Extensible de Formato para Aplicaciones">XAML</abbr> 1.0, Java 1.7, Objective-C 5.0, <abbr title="Hypertext Pre-procesor - Pre-procesador de hypertextos">PHP</abbr>, .NET 4.0, <span lang="es-mx"> Est&aacute;ndares</span> Web, <br><span lang="es-mx">Accesibilidad, Usabilidad, UX,</span> Responsive Web Design, Microformatos, Optimizaci&oacute;n Web, <abbr title="Search Engine Optimization - Optimización en Motores de Búsqueda">SEO</abbr>,  Photoshop <abbr title="Creative Suite">CS</abbr>6, Fireworks CS6, <br>Illustrator CS6, Dreamweaver CS6, Visual Studio 2013, XCode 5, Eclipse Juno, Cocoa 10.4.</em><br>
   <strong>Status: </strong><em class="status_proyecto">Activo</em><br>
   <strong><abbr title="Uniform Resource Locator" lang="en-us">URL</abbr>: </strong><em class="url"><span>Visitar </span><a href="http://www.seccionamarilla.com.mx/" target="_blank" title="Visitar Portal (Se mostrar&aacute; en otra ventana o pesta&ntilde;a)">Portal</a>, <a href="http://blog.seccionamarilla.com.mx/" target="_blank" title="Visitar Blog (Se mostrar&aacute; en otra ventana o pesta&ntilde;a)">Blog</a>, <a href="http://m.seccionamarilla.com.mx/" target="_blank" title="Visitar WebApp (Se mostrar&aacute; en otra ventana o pesta&ntilde;a)">WebApp</a></em><br class="block"> 
   <strong><abbr title="Aplicaciones informáticas">Apps</abbr>: </strong><em class="url last">Descargar <a href="https://itunes.apple.com/mx/app/seccion-amarilla/id402003747?mt=8" target="_blank" title="Descargar App para iPhone (Se mostrar&aacute; en otra ventana o pesta&ntilde;a)">iPhone o iPad</a>,&nbsp;
   <a href="https://play.google.com/store/apps/details?id=com.seccion.amarilla" target="_blank" title="Descargar App para Android (Se mostrar&aacute; en otra ventana o pesta&ntilde;a)">Android</a>,&nbsp; 
   <a href="http://www.samsung.com/mx/microsite/smarthub/mobile/smartHubMobile/apps/seccionamarilla/" target="_blank" title="Descargar App para Smart TV (Se mostrar&aacute; en otra ventana o pesta&ntilde;a)">Smart TV</a>,&nbsp; 
   <a href="http://apps.microsoft.com/windows/es-mx/app/seccion-amarilla/08dcf586-7b43-4dbf-a6b7-a85837d6103b" target="_blank" title="Descargar App para Windows 8 (Se mostrar&aacute; en otra ventana o pesta&ntilde;a)">Windows 8</a>,&nbsp; 
   <a href="http://www.windowsphone.com/en-us/store/app/secci%C3%B3n-amarilla/f1064a32-d695-40c3-9169-56254b4a37de" target="_blank" title="Descargar App para Windows Phone 8 (Se mostrar&aacute; en otra ventana o pesta&ntilde;a)">Windows Phone 8</a></em>
  </p>
</section>

<section id="gallery-project">
  <h2>Gallery</h2>
     <div id="galleryDesktop" class="gallery">
     <h4>Desktop</h4>
     <figure id="imagen1" class="figure">
      <img class="sample-project" src="../assets/img/proyectos/seccion-amarilla01.jpg" width="620" height="380" alt="Imagen 1"><br>
      <figcaption class="figcaption">
       <div class="links-image">
    <strong><span>01</span></strong> &bull; <a href="#imagen2" title="Ver acercamiento a pie del Sitio">02</a> &bull; <a href="#imagen3" title="Ver Acercamiento a las herramientas, al buscador y al men&uacute; principal del Sitio">03</a> &bull; <a href="#imagen4" title="Ver formulario para acceder a perfil de usuario">04</a> &bull; <a href="#imagen5" title="Ver formulario para registrar nuevo usuario (alumno)">05</a> &bull; <a href="#imagen6" title="Ver formulario para registrar nuevo usuario (alumno)">06</a>  </div>
    <div class="modeView"><strong class="icon_desktop"><span class="hide">Desktop</span></strong> <span class="hide">&#124;</span> <a href="#galleryTablet" class="icon_tablet" title="Ver gallery de dispositivos Tablet"><span class="hide">Tablet</span></a> <span class="hide">&#124;</span> <a href="#gallerySmartphone" class="icon_smartphone" title="Ver gallery de dispositivos Smartphone"><span class="hide">Smartphone</span></a> <span class="hide">&#124;</span> <a href="#brief" class="icon_ficha" title="Ver Ficha Técnica"><span class="hide">Brief</span></a></div>
      </figcaption>
         
              </figure>
     <figure id="imagen2" class="figure">
      <img class="sample-project" src="../assets/img/proyectos/seccion-amarilla02.jpg" width="620" height="380" alt="Imagen 2"><br>
         <figcaption class="figcaption">
                     <div class="links-image">
   <a href="#imagen1" title="Ver acercamiento a pie del Sitio">01</a> &bull; <strong><span>02</span></strong> &bull; <a href="#imagen3" title="Ver Acercamiento a las herramientas, al buscador y al men&uacute; principal del Sitio">03</a> &bull; <a href="#imagen4" title="Ver formulario para acceder a perfil de usuario">04</a> &bull; <a href="#imagen5" title="Ver formulario para registrar nuevo usuario (alumno)">05</a> &bull; <a href="#imagen6" title="Ver formulario para registrar nuevo usuario (alumno)">06</a>  </div>
   <div class="modeView"><strong class="icon_desktop"><span class="hide">Desktop</span></strong> <span class="hide">&#124;</span> <a href="#galleryTablet" class="icon_tablet" title="Ver gallery de dispositivos Tablet"><span class="hide">Tablet</span></a> <span class="hide">&#124;</span> <a href="#gallerySmartphone" class="icon_smartphone" title="Ver gallery de dispositivos Smartphone"><span class="hide">Smartphone</span></a> <span class="hide">&#124;</span> <a href="#brief" class="icon_ficha" title="Ver Ficha Técnica"><span class="hide">Brief</span></a></div>
         </figcaption>
            
              </figure>
     <figure id="imagen3" class="figure">
      <img class="sample-project" src="../assets/img/proyectos/seccion-amarilla03.jpg" width="620" height="380" alt="Imagen 3"><br>
         <figcaption class="figcaption">
                     <div class="links-image">
    <a href="#imagen1" title="Ver Acercamiento a las herramientas, al buscador y al men&uacute; principal del Sitio">01</a> &bull; <a href="#imagen2" title="Ver acercamiento a pie del Sitio">02</a> &bull; <strong><span>03</span></strong> &bull; <a href="#imagen4" title="Ver formulario para acceder a perfil de usuario">04</a> &bull; <a href="#imagen5" title="Ver formulario para registrar nuevo usuario (alumno)">05</a> &bull; <a href="#imagen6" title="Ver formulario para registrar nuevo usuario (alumno)">06</a>  </div>
    <div class="modeView"><strong class="icon_desktop"><span class="hide">Desktop</span></strong> <span class="hide">&#124;</span> <a href="#galleryTablet" class="icon_tablet" title="Ver gallery de dispositivos Tablet"><span class="hide">Tablet</span></a> <span class="hide">&#124;</span> <a href="#gallerySmartphone" class="icon_smartphone" title="Ver gallery de dispositivos Smartphone"><span class="hide">Smartphone</span></a> <span class="hide">&#124;</span> <a href="#brief" class="icon_ficha" title="Ver Ficha Técnica"><span class="hide">Brief</span></a></div>
         </figcaption>
            
              </figure>
     <figure id="imagen4" class="figure">
      <img class="sample-project" src="../assets/img/proyectos/seccion-amarilla04.jpg" width="620" height="380" alt="Imagen 4"><br>
         <figcaption class="figcaption">
                     <div class="links-image">
    <a href="#imagen1" title="Ver formulario para acceder a perfil de usuario">01</a> &bull; <a href="#imagen2" title="Ver acercamiento a pie del Sitio">02</a> &bull; <a href="#imagen3" title="Ver Acercamiento a las herramientas, al buscador y al men&uacute; principal del Sitio">03</a> &bull; <strong><span>04</span></strong> &bull; <a href="#imagen5" title="Ver formulario para registrar nuevo usuario (alumno)">05</a> &bull; <a href="#imagen6" title="Ver formulario para registrar nuevo usuario (alumno)">06</a>  </div>
    <div class="modeView"><strong class="icon_desktop"><span class="hide">Desktop</span></strong> <span class="hide">&#124;</span> <a href="#galleryTablet" class="icon_tablet" title="Ver gallery de dispositivos Tablet"><span class="hide">Tablet</span></a> <span class="hide">&#124;</span> <a href="#gallerySmartphone" class="icon_smartphone" title="Ver gallery de dispositivos Smartphone"><span class="hide">Smartphone</span></a> <span class="hide">&#124;</span> <a href="#brief" class="icon_ficha" title="Ver Ficha Técnica"><span class="hide">Brief</span></a></div>
         </figcaption>
            
              </figure>
     <figure id="imagen5" class="figure">
      <img class="sample-project" src="../assets/img/proyectos/seccion-amarilla05.jpg" width="620" height="380" alt="Imagen 5"><br>
         <figcaption class="figcaption">
                     <div class="links-image">
    <a href="#imagen1" title="Ver formulario para registrar nuevo usuario (alumno)">01</a> &bull; <a href="#imagen2" title="Ver acercamiento a pie del Sitio">02</a> &bull; <a href="#imagen3" title="Ver Acercamiento a las herramientas, al buscador y al men&uacute; principal del Sitio">03</a> &bull; <a href="#imagen4" title="Ver formulario para acceder a perfil de usuario">04</a> &bull; <strong><span>05</span></strong> &bull; <a href="#imagen6" title="Ver formulario para registrar nuevo usuario (alumno)">06</a>  </div>
    <div class="modeView"><strong class="icon_desktop"><span class="hide">Desktop</span></strong> <span class="hide">&#124;</span> <a href="#galleryTablet" class="icon_tablet" title="Ver gallery de dispositivos Tablet"><span class="hide">Tablet</span></a> <span class="hide">&#124;</span> <a href="#gallerySmartphone" class="icon_smartphone" title="Ver gallery de dispositivos Smartphone"><span class="hide">Smartphone</span></a> <span class="hide">&#124;</span> <a href="#brief" class="icon_ficha" title="Ver Ficha Técnica"><span class="hide">Brief</span></a></div>
         </figcaption>
            
              </figure>
     <figure id="imagen6" class="figure">
      <img class="sample-project" src="../assets/img/proyectos/seccion-amarilla06.jpg" width="620" height="380" alt="Imagen 6"><br>
         <figcaption class="figcaption">
                     <div class="links-image">
    <a href="#imagen1" title="Ver formulario para registrar nuevo usuario (alumno)">01</a> &bull; <a href="#imagen2" title="Ver acercamiento a pie del Sitio">02</a> &bull; <a href="#imagen3" title="Ver Acercamiento a las herramientas, al buscador y al men&uacute; principal del Sitio">03</a> &bull; <a href="#imagen4" title="Ver formulario para acceder a perfil de usuario">04</a> &bull; <a href="#imagen5" title="Ver formulario para acceder a perfil de usuario">05</a>  &bull; <strong><span>06</span></strong>  </div>
    <div class="modeView"><strong class="icon_desktop"><span class="hide">Desktop</span></strong> <span class="hide">&#124;</span> <a href="#galleryTablet" class="icon_tablet" title="Ver gallery de dispositivos Tablet"><span class="hide">Tablet</span></a> <span class="hide">&#124;</span> <a href="#gallerySmartphone" class="icon_smartphone" title="Ver gallery de dispositivos Smartphone"><span class="hide">Smartphone</span></a> <span class="hide">&#124;</span> <a href="#brief" class="icon_ficha" title="Ver Ficha Técnica"><span class="hide">Brief</span></a></div>
         </figcaption>
            
              </figure>
  </div>
     <div id="galleryTablet" class="gallery">
     <h4>Tablet</h4>
     <figure id="imagen1t" class="figure">
      <img class="sample-project" src="../assets/img/proyectos/seccion-amarilla01t.jpg" width="510" height="366" alt="Imagen 1t"><br>
      <figcaption class="figcaption">
                     <div class="links-image">
    <strong><span>01</span></strong> &bull; <a href="#imagen2t" title="Ver acercamiento a pie del Sitio">02</a> &bull; <a href="#imagen3t" title="Ver Acercamiento a las herramientas, al buscador y al men&uacute; principal del Sitio">03</a> &bull; <a href="#imagen4t" title="Ver formulario para acceder a perfil de usuario">04</a> &bull; <a href="#imagen5t" title="Ver formulario para registrar nuevo usuario (alumno)">05</a> &bull; <a href="#imagen6t" title="Ver formulario para registrar nuevo usuario (alumno)">06</a>  </div>
    <div class="modeView"><a href="#galleryDesktop" class="icon_desktop" title="Ver gallery de dispositivos Desktop"><span class="hide">Desktop</span></a> <span class="hide">&#124;</span>  <strong class="icon_tablet"><span class="hide">Tablet</span></strong> <span class="hide">&#124;</span> <a href="#gallerySmartphone" class="icon_smartphone" title="Ver gallery de dispositivos Smartphone"><span class="hide">Smartphone</span></a> <span class="hide">&#124;</span> <a href="#brief" class="icon_ficha" title="Ver Ficha Técnica"><span class="hide">Brief</span></a></div>
       </figcaption>
           
      </figure>
     <figure id="imagen2t" class="figure">
      <img class="sample-project" src="../assets/img/proyectos/seccion-amarilla02t.jpg" width="510" height="366" alt="Imagen 2t"><br>
         <figcaption class="figcaption">
                     <div class="links-image">
   <a href="#imagen1t" title="Ver acercamiento a pie del Sitio">01</a> &bull; <strong><span>02</span></strong> &bull; <a href="#imagen3t" title="Ver Acercamiento a las herramientas, al buscador y al men&uacute; principal del Sitio">03</a> &bull; <a href="#imagen4t" title="Ver formulario para acceder a perfil de usuario">04</a> &bull; <a href="#imagen5t" title="Ver formulario para registrar nuevo usuario (alumno)">05</a> &bull; <a href="#imagen6t" title="Ver formulario para registrar nuevo usuario (alumno)">06</a>  </div>
   <div class="modeView"><a href="#galleryDesktop" class="icon_desktop" title="Ver gallery de dispositivos Desktop"><span class="hide">Desktop</span></a> <span class="hide">&#124;</span>  <strong class="icon_tablet"><span class="hide">Tablet</span></strong> <span class="hide">&#124;</span> <a href="#gallerySmartphone" class="icon_smartphone" title="Ver gallery de dispositivos Smartphone"><span class="hide">Smartphone</span></a> <span class="hide">&#124;</span> <a href="#brief" class="icon_ficha" title="Ver Ficha Técnica"><span class="hide">Brief</span></a></div>
         </figcaption>
            
      </figure>
     <figure id="imagen3t" class="figure">
      <img class="sample-project" src="../assets/img/proyectos/seccion-amarilla03t.jpg" width="510" height="366" alt="Imagen 3t"><br>
         <figcaption class="figcaption">
                     <div class="links-image">
    <a href="#imagen1t" title="Ver Acercamiento a las herramientas, al buscador y al men&uacute; principal del Sitio">01</a> &bull; <a href="#imagen2t" title="Ver acercamiento a pie del Sitio">02</a> &bull; <strong><span>03</span></strong> &bull; <a href="#imagen4t" title="Ver formulario para acceder a perfil de usuario">04</a> &bull; <a href="#imagen5t" title="Ver formulario para registrar nuevo usuario (alumno)">05</a> &bull; <a href="#imagen6t" title="Ver formulario para registrar nuevo usuario (alumno)">06</a>  </div>
    <div class="modeView"><a href="#galleryDesktop" class="icon_desktop" title="Ver gallery de dispositivos Desktop"><span class="hide">Desktop</span></a> <span class="hide">&#124;</span>  <strong class="icon_tablet"><span class="hide">Tablet</span></strong> <span class="hide">&#124;</span> <a href="#gallerySmartphone" class="icon_smartphone" title="Ver gallery de dispositivos Smartphone"><span class="hide">Smartphone</span></a> <span class="hide">&#124;</span> <a href="#brief" class="icon_ficha" title="Ver Ficha Técnica"><span class="hide">Brief</span></a></div>
         </figcaption>
            
      </figure>
     <figure id="imagen4t" class="figure">
      <img class="sample-project" src="../assets/img/proyectos/seccion-amarilla04t.jpg" width="510" height="366" alt="Imagen 4t"><br>
         <figcaption class="figcaption">
                     <div class="links-image">
    <a href="#imagen1t" title="Ver formulario para acceder a perfil de usuario">01</a> &bull; <a href="#imagen2t" title="Ver acercamiento a pie del Sitio">02</a> &bull; <a href="#imagen3t" title="Ver Acercamiento a las herramientas, al buscador y al men&uacute; principal del Sitio">03</a> &bull; <strong><span>04</span></strong> &bull; <a href="#imagen5t" title="Ver formulario para registrar nuevo usuario (alumno)">05</a> &bull; <a href="#imagen6t" title="Ver formulario para registrar nuevo usuario (alumno)">06</a>  </div>
    <div class="modeView"><a href="#galleryDesktop" class="icon_desktop" title="Ver gallery de dispositivos Desktop"><span class="hide">Desktop</span></a> <span class="hide">&#124;</span>  <strong class="icon_tablet"><span class="hide">Tablet</span></strong> <span class="hide">&#124;</span> <a href="#gallerySmartphone" class="icon_smartphone" title="Ver gallery de dispositivos Smartphone"><span class="hide">Smartphone</span></a> <span class="hide">&#124;</span> <a href="#brief" class="icon_ficha" title="Ver Ficha Técnica"><span class="hide">Brief</span></a></div>
         </figcaption>
            
      </figure>
     <figure id="imagen5t" class="figure">
      <img class="sample-project" src="../assets/img/proyectos/seccion-amarilla05t.jpg" width="510" height="366" alt="Imagen 5t"><br>
         <figcaption class="figcaption">
                     <div class="links-image">
    <a href="#imagen1t" title="Ver formulario para registrar nuevo usuario (alumno)">01</a> &bull; <a href="#imagen2t" title="Ver acercamiento a pie del Sitio">02</a> &bull; <a href="#imagen3t" title="Ver Acercamiento a las herramientas, al buscador y al men&uacute; principal del Sitio">03</a> &bull; <a href="#imagen4t" title="Ver formulario para acceder a perfil de usuario">04</a> &bull; <strong><span>05</span></strong> &bull; <a href="#imagen6t" title="Ver formulario para registrar nuevo usuario (alumno)">06</a>  </div>
    <div class="modeView"><a href="#galleryDesktop" class="icon_desktop" title="Ver gallery de dispositivos Desktop"><span class="hide">Desktop</span></a> <span class="hide">&#124;</span>  <strong class="icon_tablet"><span class="hide">Tablet</span></strong> <span class="hide">&#124;</span> <a href="#gallerySmartphone" class="icon_smartphone" title="Ver gallery de dispositivos Smartphone"><span class="hide">Smartphone</span></a> <span class="hide">&#124;</span> <a href="#brief" class="icon_ficha" title="Ver Ficha Técnica"><span class="hide">Brief</span></a></div>
         </figcaption>
            
      </figure>
     <figure id="imagen6t" class="figure">
      <img class="sample-project" src="../assets/img/proyectos/seccion-amarilla06t.jpg" width="510" height="366" alt="Imagen 6t"><br>
         <figcaption class="figcaption">
                     <div class="links-image">
    <a href="#imagen1t" title="Ver formulario para registrar nuevo usuario (alumno)">01</a> &bull; <a href="#imagen2t" title="Ver acercamiento a pie del Sitio">02</a> &bull; <a href="#imagen3t" title="Ver Acercamiento a las herramientas, al buscador y al men&uacute; principal del Sitio">03</a> &bull; <a href="#imagen4t" title="Ver formulario para acceder a perfil de usuario">04</a> &bull; <a href="#imagen5t" title="Ver formulario para acceder a perfil de usuario">05</a>  &bull; <strong><span>06</span></strong>  </div>
    <div class="modeView"><a href="#galleryDesktop" class="icon_desktop" title="Ver gallery de dispositivos Desktop"><span class="hide">Desktop</span></a> <span class="hide">&#124;</span>  <strong class="icon_tablet"><span class="hide">Tablet</span></strong> <span class="hide">&#124;</span> <a href="#gallerySmartphone" class="icon_smartphone" title="Ver gallery de dispositivos Smartphone"><span class="hide">Smartphone</span></a> <span class="hide">&#124;</span> <a href="#brief" class="icon_ficha" title="Ver Ficha Técnica"><span class="hide">Brief</span></a></div>
         </figcaption>
            
      </figure>
  </div>
     <div id="gallerySmartphone" class="gallery">
     <h4>Smartphone</h4>
     <figure id="imagen1s" class="figure">
      <img class="sample-project" src="../assets/img/proyectos/seccion-amarilla01s.jpg" width="206" height="336" alt="Imagen 1s"><br>
      <figcaption class="figcaption">
                     <div class="links-image">
    <strong><span>01</span></strong> &bull; <a href="#imagen2s" title="Ver acercamiento a pie del Sitio">02</a> &bull; <a href="#imagen3s" title="Ver Acercamiento a las herramientas, al buscador y al men&uacute; principal del Sitio">03</a> &bull; <a href="#imagen4s" title="Ver formulario para acceder a perfil de usuario">04</a> &bull; <a href="#imagen5s" title="Ver formulario para registrar nuevo usuario (alumno)">05</a> &bull; <a href="#imagen6s" title="Ver formulario para registrar nuevo usuario (alumno)">06</a>  </div>
    <div class="modeView"><a href="#galleryDesktop" class="icon_desktop" title="Ver gallery de dispositivos Desktop"><span class="hide">Desktop</span></a> <span class="hide">&#124;</span> <a href="#galleryTablet" class="icon_tablet" title="Ver gallery de dispositivos Tablet"><span class="hide">Tablet</span></a> <span class="hide">&#124;</span>  <strong class="icon_smartphone"><span class="hide">Smartphone</span></strong> <span class="hide">&#124;</span> <a href="#brief" class="icon_ficha" title="Ver Ficha Técnica"><span class="hide">Brief</span></a></div>
       </figcaption>
           
      </figure>
     <figure id="imagen2s" class="figure">
      <img class="sample-project" src="../assets/img/proyectos/seccion-amarilla02s.jpg" width="206" height="336" alt="Imagen 2s"><br>
         <figcaption class="figcaption">
                     <div class="links-image">
   <a href="#imagen1s" title="Ver acercamiento a pie del Sitio"><span>01</span></a> &bull; <strong><span>02</span></strong> &bull; <a href="#imagen3s" title="Ver Acercamiento a las herramientas, al buscador y al men&uacute; principal del Sitio">03</a> &bull; <a href="#imagen4s" title="Ver formulario para acceder a perfil de usuario">04</a> &bull; <a href="#imagen5s" title="Ver formulario para registrar nuevo usuario (alumno)">05</a> &bull; <a href="#imagen6s" title="Ver formulario para registrar nuevo usuario (alumno)">06</a>  </div>
   <div class="modeView"><a href="#galleryDesktop" class="icon_desktop" title="Ver gallery de dispositivos Desktop"><span class="hide">Desktop</span></a> <span class="hide">&#124;</span> <a href="#galleryTablet" class="icon_tablet" title="Ver gallery de dispositivos Tablet"><span class="hide">Tablet</span></a> <span class="hide">&#124;</span>  <strong class="icon_smartphone"><span class="hide">Smartphone</span></strong> <span class="hide">&#124;</span> <a href="#brief" class="icon_ficha" title="Ver Ficha Técnica"><span class="hide">Brief</span></a></div>
         </figcaption>
            
      </figure>
     <figure id="imagen3s" class="figure">
      <img class="sample-project" src="../assets/img/proyectos/seccion-amarilla03s.jpg" width="206" height="336" alt="Imagen 3s"><br>
         <figcaption class="figcaption">
                     <div class="links-image">
    <a href="#imagen1s" title="Ver Acercamiento a las herramientas, al buscador y al men&uacute; principal del Sitio"><span>01</span></a> &bull; <a href="#imagen2s" title="Ver acercamiento a pie del Sitio">02</a> &bull; <strong><span>03</span></strong> &bull; <a href="#imagen4s" title="Ver formulario para acceder a perfil de usuario">04</a> &bull; <a href="#imagen5s" title="Ver formulario para registrar nuevo usuario (alumno)">05</a> &bull; <a href="#imagen6s" title="Ver formulario para registrar nuevo usuario (alumno)">06</a>  </div>
    <div class="modeView"><a href="#galleryDesktop" class="icon_desktop" title="Ver gallery de dispositivos Desktop"><span class="hide">Desktop</span></a> <span class="hide">&#124;</span> <a href="#galleryTablet" class="icon_tablet" title="Ver gallery de dispositivos Tablet"><span class="hide">Tablet</span></a> <span class="hide">&#124;</span>  <strong class="icon_smartphone"><span class="hide">Smartphone</span></strong> <span class="hide">&#124;</span> <a href="#brief" class="icon_ficha" title="Ver Ficha Técnica"><span class="hide">Brief</span></a></div>
         </figcaption>
            
      </figure>
     <figure id="imagen4s" class="figure">
      <img class="sample-project" src="../assets/img/proyectos/seccion-amarilla04s.jpg" width="206" height="336" alt="Imagen 4s"><br>
         <figcaption class="figcaption">
                     <div class="links-image">
    <a href="#imagen1s" title="Ver formulario para acceder a perfil de usuario"><span>01</span></a> &bull; <a href="#imagen2s" title="Ver acercamiento a pie del Sitio">02</a> &bull; <a href="#imagen3s" title="Ver Acercamiento a las herramientas, al buscador y al men&uacute; principal del Sitio">03</a> &bull; <strong><span>04</span></strong> &bull; <a href="#imagen5s" title="Ver formulario para registrar nuevo usuario (alumno)">05</a> &bull; <a href="#imagen6s" title="Ver formulario para registrar nuevo usuario (alumno)">06</a>  </div>
    <div class="modeView"><a href="#galleryDesktop" class="icon_desktop" title="Ver gallery de dispositivos Desktop"><span class="hide">Desktop</span></a> <span class="hide">&#124;</span> <a href="#galleryTablet" class="icon_tablet" title="Ver gallery de dispositivos Tablet"><span class="hide">Tablet</span></a> <span class="hide">&#124;</span>  <strong class="icon_smartphone"><span class="hide">Smartphone</span></strong> <span class="hide">&#124;</span> <a href="#brief" class="icon_ficha" title="Ver Ficha Técnica"><span class="hide">Brief</span></a></div>
         </figcaption>
            
      </figure>
     <figure id="imagen5s" class="figure">
      <img class="sample-project" src="../assets/img/proyectos/seccion-amarilla05s.jpg" width="206" height="336" alt="Imagen 5s"><br>
         <figcaption class="figcaption">
                     <div class="links-image">
    <a href="#imagen1s" title="Ver formulario para registrar nuevo usuario (alumno)"><span>01</span></a> &bull; <a href="#imagen2s" title="Ver acercamiento a pie del Sitio">02</a> &bull; <a href="#imagen3s" title="Ver Acercamiento a las herramientas, al buscador y al men&uacute; principal del Sitio">03</a> &bull; <a href="#imagen4s" title="Ver formulario para acceder a perfil de usuario">04</a> &bull; <strong><span>05</span></strong> &bull; <a href="#imagen6s" title="Ver formulario para registrar nuevo usuario (alumno)">06</a>  </div>
    <div class="modeView"><a href="#galleryDesktop" class="icon_desktop" title="Ver gallery de dispositivos Desktop"><span class="hide">Desktop</span></a> <span class="hide">&#124;</span> <a href="#galleryTablet" class="icon_tablet" title="Ver gallery de dispositivos Tablet"><span class="hide">Tablet</span></a> <span class="hide">&#124;</span>  <strong class="icon_smartphone"><span class="hide">Smartphone</span></strong> <span class="hide">&#124;</span> <a href="#brief" class="icon_ficha" title="Ver Ficha Técnica"><span class="hide">Brief</span></a></div>
         </figcaption>
            
      </figure>
     <figure id="imagen6s" class="figure">
      <img class="sample-project" src="../assets/img/proyectos/seccion-amarilla06s.jpg" width="206" height="336" alt="Imagen 6s"><br>
         <figcaption class="figcaption">
          <div class="links-image">
    <a href="#imagen1s" title="Ver formulario para registrar nuevo usuario (alumno)"><span>01</span></a> &bull; <a href="#imagen2s" title="Ver acercamiento a pie del Sitio">02</a> &bull; <a href="#imagen3s" title="Ver Acercamiento a las herramientas, al buscador y al men&uacute; principal del Sitio">03</a> &bull; <a href="#imagen4s" title="Ver formulario para acceder a perfil de usuario">04</a> &bull; <a href="#imagen5s" title="Ver formulario para acceder a perfil de usuario">05</a>  &bull; <strong><span>06</span></strong>  </div>
          <div class="modeView"><a href="#galleryDesktop" class="icon_desktop" title="Ver gallery de dispositivos Desktop"><span class="hide">Desktop</span></a> <span class="hide">&#124;</span> <a href="#galleryTablet" class="icon_tablet" title="Ver gallery de dispositivos Tablet"><span class="hide">Tablet</span></a> <span class="hide">&#124;</span>  <strong class="icon_smartphone"><span class="hide">Smartphone</span></strong> <span class="hide">&#124;</span> <a href="#brief" class="icon_ficha" title="Ver Ficha Técnica"><span class="hide">Brief</span></a></div>
         </figcaption>
            
      </figure>
  </div>
</section>

<p id="navegacionSeccionesInf">&laquo; <a href="cmll" title="Presentaci&oacute;n de CMLL" class="navegacion_proyectos_b"><em>Proyecto anterior:</em> <strong>CMLL</strong></a>&nbsp;<span class="div-vert">|</span>&nbsp;<a href="seccion-amarilla" title="Presentaci&oacute;n de Sección Amarilla" class="navegacion_proyectos_b"><em>Proyecto siguiente:</em> <strong>Secci&oacute;n Amarilla</strong></a> &gt;  </p>
