/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Share Tech Mono';
  src: url('/assets/fonts/ShareTechMono-Regular.ttf');
}

@font-face {
  font-family: 'Exo 2 Regular';
  src: url('/assets/fonts/Exo2-Regular.ttf');
}

@font-face {
  font-family: 'Lobster Regular';
  src: url('/assets/fonts/Lobster-Regular.ttf');
}

@font-face {
  font-family: 'Russo One';
  src: url('/assets/fonts/RussoOne-Regular.ttf');
}

@font-face {
  font-family: 'Skulls and Crossbones';
  src: url('/assets/fonts/Skullsandcrossbones-RppKM.ttf');
}

@font-face {
  font-family: 'Pirata One Regular';
  src: url('/assets/fonts/PirataOne-Regular.ttf');
}

body {
  background-color: #0f1114;
  color: #3cb7ff;
  color: #adb6c5;
  background-color: #010916;
  background-color: #0f1012;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.3rem;
  font-family:'Exo 2 Regular', 'Arial Narrow', Arial, sans-serif;
  padding: 16px;
  margin: 0;

  &.at-the-beginning {
    a {
      background-color: #4d1f00;
      color: #ff6600;

      &:hover {
        background-color: #ff6600;
        color: #4d1f00;
      }
    }
  }
  &.no-one-knows {
    a {
      color: rgb(255, 188, 0);
      background-color: rgb(49, 36, 0);
      &:hover {
        color: rgb(49, 36, 0);
        background-color: rgb(255, 188, 0);
      }
    }
  }
  &.the-server {
    a {
      color: rgb(192, 255, 0);
      background-color: rgb(43, 57, 0);
      &:hover {
        color: rgb(43, 57, 0);
        background-color: rgb(192, 255, 0);
      }
    }
  }
  &.the-navigator {
    a {
      color: #05caff;
      background-color: #003b4b;
      &:hover {
        color: #003b4b;
        background-color: #05caff;
      }
    }
  }
  &.the-fixer {
    a {
      color: rgb(255, 0, 0);
      background-color: rgb(47, 0, 0);
      &:hover {
        color: rgb(47, 0, 0);
        background-color: rgb(255, 0, 0);
      }
    }
  }
  &.nobody-knows-he-worked-on {
    a {
      color: #ff0086;
      background-color: #3f0021;
      &:hover {
        color: #3f0021;
        background-color: #ff0086;
      }
    }
  }
  &.nor-where-to-find-him {
    a {
      color: #00ffc6;
      background-color: #003529;
      &:hover {
        color: #003529;
        background-color: #00ffc6;
      }
    }
  }
}

.main-header {
  // display: flex;
  // align-items: center;
  // justify-content: space-between;

  .logo {
    background-image: url('/assets/svg/logo-vz.svg');
    background-repeat: no-repeat;
    text-indent: -10000rem;
    height: 4rem;
    width: 5.3rem;
    // display: inline-flex;
    margin: 0;
  }  

  nav {
    // display: inline-flex;
  }
}

h1 {
  font-family: 'Share Tech Mono';
  line-height: 2.5rem;
  font-weight: normal;
  font-size: 3.5rem;
  text-align: center;
  margin-top: 6rem;
}

h1{
  color: #7aff00;
  color: white;
}

h2 {
  color: #ffff00;
  color: white;
}

h3 {
  color: #ff008d;
  color: white;
}

h4 {
  color: #ff5e00;
  color: white;
}

h2, h3, h4, a {
  font-family:'Share Tech Mono', Courier, monospace;
  font-weight: 500;
}


a {
  color: white;
  background-color: blue;
  text-decoration: none;
  padding: 0.025rem;
  background-color: #1a3600;
  color: #7bff00;

  &:hover {
    color: blue;
    background-color: white;
    background-color: #7bff00;
    color: #1a3600;
  }
}

p {
  line-height: 1.3rem;
}

.back-to-top a {
  padding: 0.25rem;
}

footer {
  padding-top: 3rem;
}