/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Share Tech Mono';
  src: url('./assets/fonts/ShareTechMono-Regular.ttf');
}

@font-face {
  font-family: 'Exo 2 Regular';
  src: url('./assets/fonts/Exo2-Regular.ttf');
}
@font-face {
  font-family: 'Lobster Regular';
  src: url('./assets/fonts/LobsterTwo-Regular.ttf');
}

body {
  background-color: #0f1114;
  color: #eaf2ff;
  color: #3cb7ff;
  background-color: #010916;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5rem;
  font-family:'Exo 2 Regular', 'Arial Narrow', Arial, sans-serif;
  padding: 16px;
  margin: 0;

  &.at-the-beginnings {
    background-color: #9EC5FF;
    color: #0E274D;
  }
}

.main-header {
  // display: flex;
  // align-items: center;
  // justify-content: space-between;

  .logo {
    background-image: url('./assets/svg/logo-vz.svg');
    background-repeat: no-repeat;
    text-indent: -10000rem;
    height: 4rem;
    width: 5.3rem;
    // display: inline-flex;
    margin: 0;
  }  

  nav {
    // display: inline-flex;
  }
}

h1 {
  font-family: 'Share Tech Mono';
  line-height: 2.5rem;
  font-weight: normal;
  font-size: 3rem;
  text-align: center;
}

h1{
  color: #7aff00;
}

h2 {
  color: #ffff00;
}

h3 {
  color: #00dcff;
}

h4 {
  color: #ff5e00;
}

h2, h3, h4, a {
  font-family:'Share Tech Mono', Courier, monospace;
  font-weight: 500;
}


a {
  color: white;
  background-color: blue;
  text-decoration: none;
  padding: 0.025rem;
  background-color: #1a3600;
  color: #7bff00;

  &:hover {
    color: blue;
    background-color: white;
    background-color: #7bff00;
    color: #1a3600;
  }
}

p {
  line-height: 1.5rem;
}