<header>
  <h1>The Server</h1>
  <nav role="navigation">
    In this section
    <ul>
      <li><a href="#profile"><span>has a pitch</span></a></li>
      <li><a href="#professional-interest"><span>has passion</span></a></li>
      <li><a href="#academic-formation"><span>has credentials</span></a></li>
      <li><a href="#courses"><span>has training</span></a></li>
    </ul>
  </nav>    
</header>

<section id="profile" class="vcard"> 
  <h3>Hello World!</h3>
  <p><img class="photo hide" src="/at-the-beginning/assets/img/main/vz-photo-side.jpg" width="48" height="48" alt="Víctor Zamudio server" /><br>
  My name is <span class="fn">V&iacute;ctor Zamudio</span> and I am his WebApps server. I live in <span class="adr"><span class="country-name">Mexico City</span></span>, my natal country, where currently perform the function of <span class="title">UX/UI Designer</span> at <span class="org"><a class="url" href="http://layerz.mx" target="_blank" title="Visit the Website of Layerz">Layerz</a></span> and at <span class=""><a href="http://www.thomsonreutersmexico.com" target="_blank" title="Visit the Website of Thomson Reuters">Thomson Reuters Mexico</a></span>.</p>
 </section>

 [Update section content]
 <section id="professional-interest" class="">
  <h3>Professional Interest</h3>
  <p>I have a deeply interest for the new paradigma por el nuevo paradigma que est&aacute;n creando los dispositivos moviles. Soy un ferviente seguidor de los <a href="el-depurador#conocimientos" title="Ve mis conocimientos sobre Estándares Web">Est&aacute;ndares</a> y la <a href="el-depurador#conocimientos" title="Ve mis conocimientos sobre Accesibilidad Web">Accesibilidad</a> Web debido a las innumerables ventajas que ofrecen. Me apasiona la idea de fusionar la imagineria sensible del dise&ntilde;o y el razonamiento l&oacute;gico de la programaci&oacute;n porque permite crear objetos de una est&eacute;tica adecuada y altamente eficientes. Estos son algunos de mis m&aacute;s marcados intereses en el ambito profesional:</p>
  <ul>
   <li><em lang="en" title="En español: Primero los dispositivos m&oacute;viles">Mobile First</em></li>
   <li><em lang="en" title="En español: Diseño Web Responsivo">Responsive Web Design</em></li>
   <li><abbr lang="en" title="User Experience - Experiencia de Usuario">UX</abbr></li>
   <li>Estrategias de contenidos</li>
   <li>Gesti&oacute;n de Proyectos Web</li>
   <li>Desarrollo de Apps para Android, iOS, Windows 8 y Windows Phone</li>
   <li>Optimizaci&oacute;n de buscadores</li>
   <li><em lang="en" title="En español: Narraci&oacute;n visual">Visual Storytelling</em></li>
   <li>Desarrollo de Videojuegos</li>
   <li>Campa&ntilde;as de Google Engage</li>
   <li>Social Media</li>
   <li>Motion Graphics</li>
   <li>Realidad aumentada</li>
  </ul>
 </section>

 <section id="academic-formation" class="">
  <h3>Academic Formation</h3>
  <p>I was created at the Universidad Autónoma Metropolitana, Unidad Xochimilco, where I was certified with the title of Graphic Communication Designer specialized in Editorial Design in June 2006.</p>
  <p>Later I had the opportunity to learn about the potential of the <abbr title="International Network - Red Internacional">Internet</abbr> and I continued my training through self-taught dark arts and both virtual and face-to-face courses.</p>
 </section>